[2019-06-04 15:18] hsluoyz opened #1 "Contributions are welcome"
Currently, we have some unofficial implementations for C#. And maybe it's time to have an official one. I'm not sure if this code base is the best one, but suggestions are always welcome.

@xgenvn, can you help contribute to it?

@huazhikui, can you provide a to-do list?

[2019-06-04 15:29] hsluoyz commented on #1
After discussing with @huazhikui , the current status for this project is: has the same functionality with jCasbin: https://github.com/casbin/jcasbin, test cases are also included.

TO-DOs:

1. Badges in README.md, including Travis CI, code coverage, Nuget, auto-generated docs (if any), code format, Gitter:

![image](https://user-images.githubusercontent.com/3787410/58892290-83b6a880-8720-11e9-8bf

[2019-06-05 04:11] xgenvn commented on #1
@hsluoyz Already fork the project, can't wait to have some time investing on first PR ;).

[2019-06-05 08:36] huazhikui commented on #1
@xgenvn @hsluoyz
TO-DO list:
1. Utl.LogPrint() method
2. CoreEnforcer.SetWatcher method  and  Implementation class of IWatcher interface;

[2019-06-11 18:17] VictorioBerra opened #4 "Help Wanted: EF Core Adapter"

[2019-06-12 00:45] huazhikui commented on #4
Entity Class:
[code]

Adapter class:
[code]

[2019-06-12 12:32] VictorioBerra commented on #4
This looks nice. Also I was hoping for maybe a single call in my Core Startup.cs like `.AddDatabaseAdapter()`. See how IdentityServer does it here http://docs.identityserver.io/en/latest/reference/ef.html

Code snippet:

[code]

This reduces the necessary work to almost nothing.

[2019-06-13 11:15] xcaptain commented on #4
Nice discuss, I wrote a simple example using DI and file adapter policy see https://gist.github.com/xcaptain/920115af7bfe81a57fa58f62ea9e4887
I'm Also looking for a EF Core based adapter, but I don't know how to inject a Ef Core entity into this adapter

[2019-06-13 13:01] xcaptain commented on #4
Updated my gist to use custom `PermDbAdapter`, `CasbinRule.cs` is auto generated from `dotnet ef dbcontext scafold` command, the middleware works but still looking for a better way to inject `PermDbAdapter`

[2019-06-15 14:28] hsluoyz commented on #4
Hi @huazhikui , there's no adapters for Casbin.NET yet. I think we need to develop one, for example for EF. It can also be an example for others to implement a Casbin adapter in C#.

[2019-06-16 13:33] xcaptain commented on #4
I implemented a `CasbinService` for my asp dotnet core project, it works well. EFcore interact with the database through a `DbContext`, this `DbContext` is injected into service container as a scoped service, to create an EFcore adapter I think we should consider injecting the whole `DbContext` directly or create a repository class to interact with `casbin_rule` table.

[2019-06-17 04:30] huazhikui commented on #4
@xcaptain good idea. i implemented the repository class and inject adapter in my other project.
Because, I think that is the repository  should not be included in this project. of course，
we can provide an extension package to implement your ideas.

[2019-06-19 16:14] hsluoyz commented on #1
Hi @xgenvn , can you help fix the code coverage badge in README? https://github.com/casbin-net/Casbin.NET#casbinnet

[2019-06-20 04:05] xgenvn commented on #1
I will take a look.

[2019-07-07 04:29] xgenvn commented on #1
Have to move workplace recently so no actual work on the badge yet. I have tried to configure the current package (coveralls.net) plus opencover, then have some issues with local libraries not found. Will take a look at other libraries how they do this. Sorry for the late response.

[2019-07-07 15:05] hsluoyz commented on #1
Hi @xgenvn , never mind. Thanks to @huazhikui, he had just made the badges work today :)

[2019-07-12 04:23] xcaptain opened #5 "A demo project on how to use casbin with efcore"
Hello, Thank you for this awesome project, I have been using this project for more than 1 month, it works well but sadly lack an official efcore adapter, some discussions can be found at https://github.com/casbin/Casbin.NET/issues/4 . I created a sample project at https://github.com/xcaptain/CasbinTestProj it contains my setup for my private project. If you want I think I can help create an efcore

[2019-07-12 06:03] hsluoyz commented on #5
Hi @xcaptain , thanks for the amazing code. I think it can be a good starting point for an official EF adapter. I have created a new official repo here: https://github.com/casbin-net/EFCore-Adapter . Can you migrate your code there?

[2019-07-12 06:10] hsluoyz commented on #5
Moreover, please join our Tencent QQ group: https://casbin.org/en/help

[2019-07-12 10:44] xcaptain commented on #5
I made a pull request at https://github.com/casbin-net/EFCore-Adapter/pull/1 please take a look, thanks.

[2019-07-25 16:51] rdpetrusek opened #6 "Remove Coveralls Repo Token from Appveyor definition"
I see a token in the appveyor definition file. I'd guess it's a security concern, but I don't know what access is available through that token.

[2019-07-30 00:43] huazhikui commented on #6
the token is used to access coveralls.io and upload coverage data to coveralls

[2019-07-30 00:44] huazhikui commented on #6
the token is used to access coveralls.io and upload coverage data to coveralls

[2019-08-05 06:18] #6 closed

[2019-10-02 14:12] hsluoyz commented on #5
Nearly finished.

[2019-10-02 14:12] #5 closed

[2019-10-02 14:13] hsluoyz commented on #4
We have it now: https://github.com/casbin-net/EFCore-Adapter

[2019-10-02 14:13] #4 closed

[2019-10-02 14:14] hsluoyz commented on #6
Maybe it's better to put the key into Travis portal directly.

[2019-10-16 11:21] softwareguy74 opened #7 "Parity with main?"
I noticed the main project had some recent updates, but not this one. How long does it usually take to catch up?

[2019-10-21 19:15] mintyfusion opened #8 "How to enforce a hierarchy for parent/child relationships?"
We have a structure like this:

Grand Parent
      Parent
          Children
                Grand Children
                        So on....

I have two questions:

1) If user has permission on Parent, how do we find out the grand parent to show as View?
2) If the user navigates to Grand Children directly for that specific parent, how do we perform that check, and allow access?

Thanks,
Harsimrat

[2019-10-22 04:10] hsluoyz commented on #8
@user4517 send a new issue please.

[2019-10-22 12:07] jkour commented on #8
@mintyfusion What have you tried so far?
It seems to me you can create a policy like this:

`p, user1, ancestor-group, view (or read)
`

or, you can create a RBAC along these lines:

`p, users, ancestors, view (read)
g, user1, users`

[2019-10-22 18:41] mintyfusion commented on #8
I'm trying different approaches and would like to avoid assigning explicit permission to ancestor if possible.

We have 100's of ancestors, having children and they having children of their own. I did come across this article: https://medium.com/silo-blog/designing-a-flexible-permissions-system-with-casbin-f5d97fef17b8 but seems like you have to define permission for every children as well.

[2019-10-22 21:32] jkour commented on #8
Unless every parent can view the grandparent, there is no other way to assign permissions but to mention each user explicitly, be it in groups or at individual level

And this is not only in casbin but in every authorisation system you can come across

When you create them, just make them part of a group automatically.

How do you do it now?

[2019-10-22 21:35] mintyfusion commented on #8
We are doing a recursive check right now and probably not optimal. That means, that if Parent accesses grand children directly, we keep on going up until we find the right permission and allow or deny access based on it.

[2019-10-22 21:43] jkour commented on #8
Ok I don't know the details of your requirements but as a general note (and hope it is relevant) with frameworks like casbin, there are two steps:

1. You ask the framework if an action is allowed (eg, can a parent read/view the grandparent?)

2. If yes, then you ask your code/application/server to execute the action (eg, retrieve who the grandparent is). If no, your code does something about it (

[2019-10-22 21:50] mintyfusion commented on #8
That is correct and we are trying to change our code to follow the above model you mentioned.

Right now, we are trying to figure out what's the best strategy to implement for 1000's of users and tons of parent/child relationships.

Just to re-iterate what we have been discussing:

1) If access is assigned on Parent, two actions should happen.
     a. Add Read/View Permission to it's Parent..

[2019-10-23 02:09] jkour commented on #8
When you say you assign **access** to a Parent, what is this access? Is the user of your app the parent in this instance? Or the user has access to a parent and it means the user can read/view/edit/delete a record that shows a parent?

Obviously, all this have to do with your domain and the business logic and it may be hard to reproduce here.

The model is not that sophisticated. The biggest chall

[2019-10-23 05:08] hsluoyz commented on #7
Hi @softwareguy74 , it's based on user requirement. If you want some feature, please say it.

[2019-10-23 23:42] mintyfusion commented on #8
Thank you for helping us out. I'm going to try to explain what we have in more detail little differently:

We have a hierarchy something like this:

Sites
   Jobs
       Lists
           Task Lists
                  Tasks
                        Individual Action on Tasks
                        Files

We add users either on Sites or Jobs by Role. That means if we add a User to Site, they can see

[2019-10-24 11:44] jkour commented on #8
I suppose that when a REST query comes in for a specific task id, you pass the UserID, don't you? I also assume that the sender (user) is kinda logged in to your site, right?

So, if you have the UserID you can ask casbin to verify permissions.

Have you got difficulties writing the casbin policies? One useful feature in casbin is that you can allow permissions based on URL patterns similarly to t

[2019-10-24 21:29] mintyfusion commented on #8
Yes, we do have UserID and where I'm getting confused is that do we need to send JobId to know if user has permissions or we can pass the Task Id to know if user has permission to Job, and hence by relation user has permission to this Task enforced by a specific Role?

[2019-10-25 00:30] jkour commented on #8
I think you need to check if the user has permissions **for the Task not the Job** because you may have users that are not allowed to access all the tasks for a given job

The policies may be like this:

`p, site-users, full-access`
`g, user1 guid, site-users` <-- here your user have full access
``
`p, job-users, site, view`
`p, job-users, tasks, view`
`g, user2 guid, job-users` <-- here your user

[2019-10-25 21:06] mintyfusion commented on #8
I think this combined with Pattern Matching would be the right solution. As we can have 1000's of Task Lists and Tasks and don't want to add user to all of them.

Secondly, adding Site "View" Permission is also a little bit tricky. As if user has access to two jobs under the same Site, and removing access to one job, we would have to perform a check if they have access to any other job under same

[2019-10-27 20:33] jkour commented on #8
There must be a function you can call to retrieve all permissions for a user so you can check this easily

[2019-10-29 01:03] mintyfusion commented on #8
Do you mean function in Casbin or we should have this in our database?

[2019-10-29 02:13] hsluoyz commented on #8
See: https://casbin.org/docs/en/rbac#how-to-query-implicit-roles-or-permissions

[2019-10-29 05:07] mintyfusion commented on #8
Great, Thank you very much.

[2019-10-29 05:07] #8 closed

[2019-11-15 14:55] andreasthalmann opened #9 "Signing the assembly"
It seems the assembly distributed with the nuget package is not signed, this makes it not very handy to reference Casbin.Net from a signed assembly.

[2019-11-16 00:02] hsluoyz commented on #9
@huazhikui @xgenvn

[2019-11-16 08:58] hsluoyz commented on #9
Hi @andreasthalmann , I browsed the price of Microsoft Authenticode cert, it's so expensive (~$500 for one year), like this one: https://trustcenter.websecurity.symantec.com/process/trust/productOptions?productType=SoftwareValidationClass3

Am I seeing the correct type of cert? Is there any cheaper options?

And what causes you trouble specifically by using an un-signed package?

[2019-11-16 14:09] andreasthalmann commented on #9
There is no need for a code signing certificate from an official authority. Create a “casbin.snk” key using the strong name tool (sn.exe from sdk) and use it for signing the casbin assemblies.
see also https://docs.microsoft.com/en-us/dotnet/standard/assembly/sign-strong-name and/or
https://docs.microsoft.com/en-us/dotnet/standard/assembly/create-public-private-key-pair
if not signed you get at bu

[2019-11-18 03:44] huazhikui commented on #9
the assembly  is signed in version v1.2.2

[2019-11-18 03:47] hsluoyz commented on #9
Good job. Thanks for everyone !

[2019-11-18 03:47] #9 closed

[2019-11-19 01:44] mintyfusion opened #10 "Pattern Matching in RBAC"
I have seen an example of Pattern Matching available here: https://casbin.org/docs/en/rbac#use-pattern-matching-in-rbac

I was wondering is it possible to do something like this in Casbin:

g, /specificgenre/book/:id, book_group

That means only books which are of specific genre are allowed access using pattern matching?

[2019-11-20 09:10] hsluoyz commented on #10
What's the difference with `g, /book/:id, book_group`?

[2019-11-20 18:21] mintyfusion commented on #10
I was confused, and this thread helped me: https://github.com/casbin/casbin/issues/177

This is what I'm trying to accomplish:

p, alice, /alice_data/*, GET
p, alice, /alice_data/resource1, POST

p, data2_admin, /alice_data/resource2, GET
p, data2_admin, /bob_data/*, (POST)|(UPDATE)
p, data2_admin, /bob_data/*/*/*/*, DELETE ==> Seems like Keymatch2 is the answer to this.

p, cathy, /cathy_data, (G

[2019-11-21 00:34] hsluoyz commented on #10
Closed as solved.

[2019-11-21 00:34] #10 closed

[2019-12-06 14:41] rickdtully opened #12 "Version 1.2.2.and 1.2.3 dependency issue"
I am evaluating Casbin.NET for my company. I have a visual studio 2019 ASP.NET core in .NET framework 4.7.2 project that i am attempting to use the Casbin.NET nuget package with. Version 1.2.0 installs and executes perfectly but 1.22 and 1.23 , though they install, result in an error when an Enforcer is instantiated. The error is "Could not load file or assembly 'DynamicExpresso.Core, Version=2.3.

[2019-12-06 16:18] hsluoyz commented on #12
@huazhikui

[2019-12-07 02:20] huazhikui commented on #12
becasuse the DynamicExpresso.Core is not strongly-named assembly.  we will not provide strongly named assemblies by default in next. you can use version 1.2.4

[2019-12-08 21:59] rickdtully commented on #12
Thank you, that works. BTW, your Casbin editor is extraordinarily helpful.

[2019-12-09 00:08] #12 closed

[2019-12-09 01:35] hsluoyz commented on #12
@huazhikui @rickdtully @kyle-mccarthy

please fix the build error: https://travis-ci.org/casbin/Casbin.NET/builds/622437945?utm_medium=notification&utm_source=email

[2019-12-10 13:09] salamalzubedi opened #14 "ABAC with RBAC"
Hello
Plaese I want to make access control model with ABAC and only role from RBAC.
its will be only in C#.
the idea is to test this model software in openstack .
( access control model  in C# and its will test this kind of access control Policy in openstack if we move to openstack as SaaS)
Please any one could help me.

Thanks

[2019-12-13 10:08] arthuridea opened #15 "Helper.LoadPolicyLine causes poor performance"
I'm loading nearly 10000 policies in my project .
the Casbin core module and Adapter is injected as Scoped service.
I found this method checking policy uniqueness every time when data line loaded. I wrote a method
[code]
then alter ```Helper.LoadPolicyLine``` method without checking data uniqueness.
and invoke at the end of LoadPolicy method in Adapter
[code]
seems to make things better?
want to k

[2019-12-13 11:23] hsluoyz commented on #15
@arthuridea I think your modification is reasonable.

@huazhikui can we fix this issue?

[2019-12-25 05:18] prasannapad opened #16 "SavePolicy fails unless model contains [role_definition]"
SavePolicy() method fails when trying to save basic_model.conf in the examples folder.

It works if you add this notionally.
[role_definition]
g = _, _

If roles are optional in the model, can we make sure SavePolicy() ignores missing g?

[2019-12-25 07:02] hsluoyz commented on #16
Can you make a PR to fix it?

[2019-12-26 11:03] twchiam opened #17 "How to handle multi threading scenario when using Enforcer"
I noticed the .net version of casbin does not has the multi threading features.  May I know how should we use the enforcer in multi threading environment?

[2019-12-26 11:15] twchiam commented on #17
Should I instantiate the enforcer only once and share the instance between all the requests?

[2019-12-26 11:25] twchiam commented on #17
I am trying to understand the source code and below are my findings from the code:

1. I noticed the entire code base including the IAdapter interface do not use async await approach. The adapter might need to load data from the database especially the LoadPolicy method. Without async await, it might block execution  of  other request.

[2019-12-26 12:25] hsluoyz opened #18 "Is there anyone to develop an EF adapter?"
Based on discussion here: https://gitter.im/casbin/Lobby, @mitesh-diligencevault needs an EF adapter for his ASP.NET project.

@huazhikui @xcaptain

https://github.com/casbin-net/EFCore-Adapter/issues/2

[2019-12-26 12:28] hsluoyz commented on #17
@huazhikui @xcaptain

[2019-12-27 06:19] twchiam opened #19 "No rollback of memory data when adapter throw exception"
In InternalEnforcer.cs, there are 3 methods add or remove policy data. All these methods will add or delete data in memory first then call adapter to perform the mutation of data in data store behind the adapter.

It will cause data inconsistency issue if no revert or rollback logic in all those methods. Please refers to the  bold area of the partial code below:

[code]

[2019-12-28 06:48] hsluoyz commented on #18
Created: https://github.com/casbin-net/EF-Adapter

[2020-02-10 12:40] PanzerHabba opened #20 "PlatformTarget - x64"
Hi,

Why is PlatformTarget set to x64 ?
In my project-configuration I have set this to "Any CPU". I then get a build-warning:

Warning	MSB3270	There was a mismatch between the processor architecture of the project being built "MSIL" and the processor architecture of the reference "C:\Users\nomha4\.nuget\packages\casbin.net\1.2.4\lib\netstandard2.0\NetCasbin.dll", "AMD64". This mismatch may cause r

[2020-02-10 15:03] hsluoyz commented on #20
Hi @PanzerHabba , it seems to be a bug. Can you make a PR to fix it?

[2020-02-11 07:50] PanzerHabba commented on #20
Hi @hsluoyz , I can do that. But it seems like I`m not allowed to create feature-branches. Could you give me the permission ?

[2020-02-11 09:21] hsluoyz commented on #20
You should create new branch or use master in your forked repo. Then fire a PR to us. We will review and merge to our master if OK.

[2020-03-11 11:41] hsluoyz commented on #20
PR merged.

[2020-03-11 11:41] #20 closed

[2020-03-11 11:49] hsluoyz commented on #19
Casbin.NET follows Golang's Casbin's work flow. So please send a GitHub issue to: https://github.com/casbin/casbin/blob/master/internal_api.go#L22 first

[2020-03-11 11:53] hsluoyz commented on #17
@twchiam can you make a PR to fix it?

ping @huazhikui again

[2020-03-11 11:55] hsluoyz commented on #16
Any update? @huazhikui @prasannapad

[2020-03-11 11:56] hsluoyz commented on #14
See some issues at Golang: https://github.com/casbin/casbin/issues?q=rbac+abac

[2020-03-11 11:57] hsluoyz commented on #7
Closed as stale.

[2020-03-11 11:57] #7 closed

[2020-03-12 05:04] hsluoyz opened #22 "EFCore-Adapter needs to be improved."
https://github.com/casbin-net/EFCore-Adapter

Code coverage badge doesn't work yet.

[2020-03-12 05:10] hsluoyz opened #23 "EF-Adapter needs to be developed"
https://github.com/casbin-net/EF-Adapter

[2020-03-12 05:19] #1 closed

[2020-03-12 05:20] hsluoyz opened #24 "ASP.NET MVC Middleware needs to be developed"
https://dotnet.microsoft.com/apps/aspnet/mvc

[2020-03-12 06:36] xcaptain commented on #18
I only use .NET Core on linux platform, sorry can't help.

[2020-03-29 07:43] AaqibAhamed commented on #16
I want to contribute for this bug as a GSoC 2020 student contributer.

[2020-03-29 07:44] AaqibAhamed commented on #24
I want to contribute for this issue as a GSoC 2020 student contributer.

[2020-03-29 07:57] AaqibAhamed commented on #18
Can I develop it for GSoC 2020 project.

[2020-03-29 08:08] AaqibAhamed commented on #23
I want to develop Entity Framework Adapter for Casbin.NET as a  GSoC 2020 student.I have completed internship as a .NET developer(ASP.NET MVC -Trainee .NET Developer )

[2020-03-29 08:24] hsluoyz commented on #18
@AaqibAhamed see: https://github.com/casbin/SummerOfCode2020/#get-started

[2020-03-29 09:44] AaqibAhamed commented on #18
Thanks for the reply.I'll do the needful as per the guideline.

[2020-04-06 11:11] hsluoyz commented on #16
@huazhikui can anyone fix it?

[2020-04-07 05:41] huazhikui commented on #16
@AaqibAhamed you like to try？fix this bug

[2020-04-07 06:59] AaqibAhamed commented on #16
@huazhikui Sure.I will try this. Thank you

[2020-04-22 00:55] huazhikui commented on #16
@prasannapad the bug fixed in version 1.2.5

[2020-04-22 01:01] #16 closed

[2020-04-26 03:58] LeiYangGH opened #27 "support .net framwork?"
I'm using .net4.5 and trying to install it via nuget. The lowest version is 1.1.0. and it says requires .net standard2.0.

The question is why doesn't is support .net 4.5(.netstandard1.0)? As far as I know many dotnet core libraries also support .net framework.

[2020-04-26 07:45] hsluoyz commented on #27
@huazhikui @nodece @GopherJ

[2020-04-26 11:58] nodece commented on #27
We can use `.NET Standard 1.2`  and It can support `.NET Framework 4.5.1`.

See https://docs.microsoft.com/en-us/dotnet/standard/net-standard for detail.

[2020-04-26 14:26] hsluoyz commented on #27
.net 4.5(.netstandard1.0) is still widely used. If we haven't used advanced features, we should change compatible level to: .net 4.5(.netstandard1.0)

[2020-04-27 01:14] LeiYangGH commented on #27
yes.
I also tried re-targeting to .net framework 4.6.1(lowest of .netstandard2.0), but then I got a lot of warnings (Consider app.config remapping of assembly with no app.config mapping ...), and didn't find a elegant solution to fix them. so expecting casbin.net to support .net 4.5.

[2020-04-27 03:14] hsluoyz commented on #27
I have asked an issue in our expression evaluator: https://github.com/davideicardi/DynamicExpresso/issues/120

[2020-04-28 04:35] hsluoyz commented on #24
@AaqibAhamed please find an issue to work on the code. A lot of students have been working on solving our issues these days.

[2020-04-28 04:59] AaqibAhamed commented on #24
Yeah.Sure I'm looking into issues.Can you point one or some issues to start first from easy to hard.Thanks for the response.

[2020-04-28 08:29] hsluoyz commented on #24
this issue

[2020-05-02 04:25] AaqibAhamed commented on #23
Hi @hsluoyz ,
I have initialized the EF-Adapter project.I have given PR find it.I'm working on it.Also looking forward my upcoming PR for EF-Adapter .

[2020-05-02 04:27] AaqibAhamed commented on #23
@hsluoyz
Also Please create a Road Map for EF-Adapter it helps to go further.

[2020-05-02 04:38] AaqibAhamed commented on #18
Hi @hsluoyz ,
I have initialized the EF-Adapter project find my PR.Please create a Roadmap then easy to work on it.

[2020-05-02 05:41] AaqibAhamed commented on #19
I have go through GoLang's work flow.I have following doubts.
[code]
it says if not equal to ruleAdded return  become true or not ?? What does ruleAdded mean?

[2020-05-02 06:02] DivyPatel9881 commented on #19
This control structure means, that if ```ruleAdded``` is false, it means if the rule is not added to the memory, the function ```returns false, nil(error)```.

[2020-05-02 06:28] AaqibAhamed commented on #24
Hi @hsluoyz
I was busy with Casbin EFCore-Adapter.Now I'm start working on this issue #24.I need some more info.Which mentioned below.
In which way have to implement ASP.NET MVC Middleware need to be develop?
Please create a Roadmap if it is possible . If any solid reference available from Golang mention here.

[2020-05-02 07:35] AaqibAhamed commented on #19
@DivyPatel9881
Now clear.Thanks for the response.

[2020-05-02 08:25] AaqibAhamed commented on #19
Why not catching for NotImplementedException ? Don't we need to show at lease error message ?

[2020-05-02 14:21] hsluoyz commented on #23
See EFCore's roadmap: https://github.com/casbin-net/EFCore-Adapter/issues/2

[2020-05-02 14:32] hsluoyz commented on #24
I think ASP.NET MVC supports to develop some sort of request filter middleware? Casbin can be a filter there to check subject, object, action in the request. See top Golang middlewares as example: https://casbin.org/docs/en/middlewares

[2020-05-02 16:08] AaqibAhamed commented on #24
Thanks.Alright I will work on it.

[2020-06-01 04:16] huazhikui commented on #27
casbin.net  support .net 4.5 in version 1.2.6

[2020-06-01 04:16] #27 closed

[2020-06-10 11:55] Sagilio commented on #22
It looks like the issue [casbin-net/EFCore-Adapter#2](https://github.com/casbin-net/EFCore-Adapter/issues/2) already be closed, Can you update the completed items and close this issue.

[2020-06-11 02:48] hsluoyz commented on #19
I think we agreed on updating adapter first, then update memory in Golang: https://github.com/casbin/casbin/issues/415#issuecomment-642372336. Let's follow the similar pattern in .NET. Can anyone make a PR for it?

[2020-06-11 02:50] hsluoyz commented on #19
@huazhikui @xcaptain @sagilio @twchiam can you work on this one?

[2020-06-11 10:12] hsluoyz opened #31 "Fix or remove Travis CI because it doesn't support .NET Framework"
See: https://travis-ci.org/casbin/Casbin.NET

[2020-06-11 10:13] hsluoyz commented on #31
@huazhikui @xcaptain @nodece @Sagilio can anyone take this issue? Fix or remove?

[2020-06-11 10:16] hsluoyz commented on #23
@Sagilio whether do we still need to develop this adapter? What do you think?

[2020-06-11 10:24] hsluoyz opened #32 "Add Azure Pipelines CI badge, maybe deprecate others in future"
We know .NET is from Microsoft. Azure Pipelines is also from Microsoft. So using Azure Pipelines as our CI will show strong credit that our code is well tested.

Moreover, our evaluator is also using it: https://github.com/davideicardi/DynamicExpresso

![image](https://user-images.githubusercontent.com/3787410/84374525-ab343100-ac10-11ea-9439-802b776f96f9.png)

So we should add a CI badge for Azur

[2020-06-11 10:24] hsluoyz commented on #32
@huazhikui @nodece @xcaptain @Sagilio can anyone take this issue?

[2020-06-11 10:44] Sagilio commented on #32
I can do it, but I need permission to visit the `Azure DevOps`. You can use `Sagilio@outlook.com` to invite me at `Azure DevOps`.

[2020-06-11 10:53] Sagilio commented on #23
I think It like the `ASP.NET` and no longer being actively developed. We can implement at more popular platforms, like `Redis` `MongoDB` or `Dapper` etc. first.

[2020-06-11 10:58] Sagilio commented on #31
I think we need not it now.

[2020-06-11 10:59] hsluoyz commented on #31
@Sagilio so you think it's OK to remove it?

[2020-06-11 11:05] Sagilio commented on #31
Yes

[2020-06-11 11:07] hsluoyz commented on #31
Can you make a PR to remove it?

[2020-06-11 11:22] huazhikui commented on #32
one month ago, I has added `Microsoft. Azure Pipelines`  ，but i have not add CI badges @Sagilio @hsluoyz
https://dev.azure.com/Casbin/Casbin.NET/_build?view=pipelines

[2020-06-11 11:58] hsluoyz commented on #23
OK. The official docs (https://docs.microsoft.com/en-us/ef/efcore-and-ef6/#ef6) said:

`
Entity Framework 6 (EF6) is an object-relational mapper designed for .NET Framework but with support for .NET Core. EF6 is a stable, supported product, but is no longer being actively developed.
`

I will close this issue for now.

[2020-06-11 11:58] #23 closed

[2020-06-11 12:21] hsluoyz commented on #24
ASP.NET is deprecated, no need to do it: https://docs.microsoft.com/en-gb/aspnet/core/fundamentals/choose-aspnet-framework?view=aspnetcore-3.1

[2020-06-11 12:21] #24 closed

[2020-06-11 12:23] #31 closed

[2020-06-11 12:31] hsluoyz commented on #32
@huazhikui great news to hear!

@Sagilio can you make a PR to add the badge for: https://dev.azure.com/Casbin/Casbin.NET/_build?view=pipelines ?

[2020-06-11 12:32] hsluoyz commented on #14
Closed as stale.

[2020-06-11 12:32] #14 closed

[2020-06-11 12:34] hsluoyz commented on #15
@huazhikui @xcaptain @nodece I think we can use a map to store the hash of existing policy. Checking the map is O(1) complexity.

@Sagilio can you work on this issue?

[2020-06-11 12:44] hsluoyz opened #34 "Fix the code warnings when building"
Can we fix the following warnings?

[code]

![image](https://user-images.githubusercontent.com/3787410/84386635-44b90e00-ac24-11ea-8a3e-c5677b59fede.png)

[2020-06-11 12:46] hsluoyz commented on #34
@huazhikui @xcaptain @Sagilio

[2020-06-11 12:54] Sagilio commented on #34
The warmings in `InternalEnforcer.cs` can be fixed when merged this PR [Change update policy workflow](https://github.com/casbin/Casbin.NET/pull/28). I will fix others at another PR.

[2020-06-11 13:13] hsluoyz commented on #32
@Sagilio you can also remove Appveyor totally in the new PR.

[2020-06-11 13:23] Sagilio commented on #32
We need Appveyor to provide `Coverage Status` now.

[2020-06-11 13:38] hsluoyz commented on #32
OK. Then we only add the Azure Pipelines badge for now.

[2020-06-11 14:47] #32 closed

[2020-06-11 16:24] xcaptain commented on #15
The problem may comes from here
[code]
The `HasPolicy` check is slow, everytime a new policy is loaded into model, we need to check if it already exists.

using

[code]
can improve a lot, how about we change

[code]

to

[code]

HashSet may be faster.

@Sagilio What do you think?

[2020-06-11 16:27] xcaptain commented on #15
Haha, casbin-rs is using `indexset`

https://github.com/casbin/casbin-rs/blob/master/src/model/assertion.rs#L21

[2020-06-11 17:35] Sagilio commented on #15
I think we can use `HashSet<T>` to replace the `List<T>` to get O(1) complexity when we call `Contain`.
But it needs the `List<string>` implement `Equal` and  `GetHashCode`. So I think we can try to use a `ref struct` or `readonly ref struct` named `Rule` to replace `List<string>`.

[2020-06-12 00:34] xcaptain commented on #15
https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.list-1?view=netcore-3.1

[2020-06-12 03:14] Sagilio commented on #15
They are `Inherited from Object`, So the `Equals` is equivalent to calling the ReferenceEquals method,
I think we need to ensure the content is equal.
And I think we can create a benchmark project which uses [BenchmarkDotNet](https://github.com/dotnet/BenchmarkDotNet).

[2020-06-12 05:55] #34 closed

[2020-06-12 06:17] hsluoyz opened #37 "Use semantic-release to automatically release Casbin.NET versions"
We already used semantic-release in Go and Nodejs, see Node-Casbin: https://github.com/casbin/node-casbin/pull/153#issuecomment-625775348

![image](https://user-images.githubusercontent.com/3787410/83984606-7aca6980-a968-11ea-8eef-49f5fbd45008.png)

There's also a student working on Java: https://github.com/casbin/jcasbin/issues/76

I think we should also integrate it into .NET. It will auto-relea

[2020-06-12 06:18] hsluoyz commented on #37
@xcaptain @huazhikui @nodece @Sagilio can you take the issue?

[2020-06-12 07:36] xcaptain commented on #37
EFCore-Adapter can automatically release when new tag was created. https://github.com/casbin-net/EFCore-Adapter/blob/master/.travis.yml#L40

I think we don't need to release so frequently, manually release is OK.

[2020-06-12 07:42] hsluoyz commented on #37
I think currently only @huazhikui is familiar with the .NET release instructions. @huazhikui can you release a version from master now?

[2020-06-12 09:48] Sagilio commented on #37
Azure DevOps has a [release pipeline](https://dev.azure.com/Casbin/Casbin.NET/_release) that can automatically release the package.
We can use [Git Version](https://gitversion.net/docs/) to complete the version.
I have tried about it, The [build result](https://dev.azure.com/Sagilio/Casbin.NET.Test/_build/results?buildId=15&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=e82b3e12-88cd-5514-86b1

[2020-06-12 13:52] #19 closed

[2020-06-12 13:54] hsluoyz commented on #19
@twchiam merged in: https://github.com/casbin/Casbin.NET/pull/28

[2020-06-12 13:58] hsluoyz commented on #37
@Sagilio I want GitHub & Nuget releases, is it OK for these?

[2020-06-12 14:08] Sagilio commented on #37
It has [Github releases Task](https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/GitHubReleaseV0) and Nuget Command Task which can push package.
Almost All the tasks can be used at both the build and release pipeline.

[2020-06-13 10:15] hsluoyz commented on #37
@Sagilio good, go ahead with this way. Let me know if you need any help.

[2020-06-13 10:46] Sagilio opened #38 "Should we need to avoid repeated checking policy exists when call AddPolicy"
When we add policy by `Enforcer`, It will call the `AddPolicy` method like this:
[code]
But when calling `model.AddPolicy` it will check again the policy exists like this:
[code]
I think we should avoid repeated checking. but the `AddPolicy` method in `Policy` class is a public method. If we modify the existing implementation, It will cause unsafe calling. We can create an internal method without

[2020-06-13 14:52] hsluoyz commented on #38
We should add a map to make check policy existence O(1).

[2020-06-13 14:52] hsluoyz commented on #38
@Sagilio can you make a PR?

[2020-06-13 16:28] Sagilio commented on #38
Ok.

[2020-06-14 06:31] hsluoyz commented on #32
@huazhikui can you add my Microsoft account: `hsluoyz@163.com` to the admin of the Casbin org in DevOps? https://dev.azure.com/Casbin/

![image](https://user-images.githubusercontent.com/3787410/84586370-a0b1ab80-ae4b-11ea-81fe-e6b2a36818c6.png)

[2020-06-14 17:13] Sagilio opened #41 "Use constant to replace the repeated string at code"
We can use some const or read-only field to replace the string like `"g"`, `"p"` and use `String.Empty` and `Array.Empty` to replace `""`, `new string[]`. I think it will make the code more maintainable.

[2020-06-15 01:43] huazhikui commented on #41
good idea, can you fix it? @Sagilio

[2020-06-15 03:35] Sagilio commented on #41
Ok, but It will have a lot of conflicts with the pull request #40, I will fix and open a pull request later than that one.

[2020-06-15 06:27] #15 closed

[2020-06-15 06:47] #17 closed

[2020-06-15 07:35] Sagilio commented on #38
I have tried about it in this version and it has the almost same performance. So I think the issue can be closed.

[2020-06-15 07:35] #38 closed

[2020-06-15 09:02] Sagilio opened #42 "The PolicyStringSet property at Assertion.cs do not need to be public"
the `assertion.PolicyStringSet` property does not need to be public.
1. add  `assertion.AddPolicy(rule)` method in `Assertion Class` replace  these 2 steps:
[code]

2. add `assertion.Contains(rule)` mehod  in `Assertion Class` replace ` Model[sec][ptype].PolicyStringSet.Contains(Utility.ArrayToString(rule))`

3. add `assertion.RemovePolicyAt(i)` method  replace  these 2 steps:
[code]

_Originally

[2020-06-15 10:09] #42 closed

[2020-06-21 09:37] hsluoyz commented on #37
Any update?

[2020-06-21 11:03] #41 closed

[2020-06-21 12:37] Sagilio opened #47 "Fix the IO exception when sometimes running unit tests"
It like the [build result](https://dev.azure.com/Casbin/Casbin.NET/_build/results?buildId=60&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=7bfb7e0f-549d-5929-c603-6e8046613b9e).

I think we have two plans to fix it:

1.  Provide some same test files for the async tests.
2.  Refactor the unit test project and use some fixtures to make loading files is not inside of the unit test body.

[2020-06-21 13:09] hsluoyz commented on #47
Good finding! We should not copy test files with the same content.

[2020-06-22 03:43] Sagilio commented on #37
I tried to auto-release some version:

1.2.8 : [Build result](https://dev.azure.com/Sagilio/Casbin.NET.Test/_build/results?buildId=46&view=logs&j=e7e95e74-12bf-5ad2-fcbc-6c3f1acb24e8)
1.2.9 : [Build result](https://dev.azure.com/Sagilio/Casbin.NET.Test/_build/results?buildId=47&view=logs&j=e7e95e74-12bf-5ad2-fcbc-6c3f1acb24e8)
1.3.0-alpha0045 : [Build result](https://dev.azure.com/Sagilio/Casbin.N

[2020-06-22 06:23] hsluoyz commented on #37
@nodece @huazhikui @xcaptain

[2020-06-22 08:39] xcaptain commented on #37
Nice, the `buildAndPack` works, the next step is to determine when to trigger `buildAndPack`. But how can the semantic release bot change the version number at https://github.com/casbin/Casbin.NET/blob/master/NetCasbin/NetCasbin.csproj#L11

[2020-06-22 14:21] Sagilio commented on #37
It can be set at the command `dotnet build /p:FileVersion=1.3.0.0` and I have released a version ([1.3.1](https://github.com/Sagilio/Casbin.NET/releases/tag/1.3.1))

[2020-07-01 06:07] #47 closed

[2020-07-01 20:00] Sagilio opened #49 "Use dotnet-format to automatically format the code"
We can use the tool ([dotnet-format](https://github.com/dotnet/format)) to keep the code clean and the code style united.

**Related comment**
https://github.com/casbin/Casbin.NET/pull/44#discussion_r440334287

[2020-07-03 00:18] Sagilio opened #51 "Develop Casbin.AspNetCore to help use Casbin in ASP NET Core"
.ASP NET Core is a free cross-platform open-source and the most popular framework for building web apps and services with .NET and C# now. We need to provide fine support to it.

#### Description about the `Casbin.AspNetCore`
It is an extension package for anyone to can use Casbin in ASP NET Core easily.
It will extend from the `Microsoft.AspNetCore.Authorization`. So It can be compatible with the

[2020-07-03 00:22] Sagilio commented on #51
@hsluoyz Can you help me create the repository and give me the write permission?

[2020-07-03 00:42] hsluoyz commented on #51
Created: https://github.com/casbin-net/Casbin.AspNetCore

![image](https://user-images.githubusercontent.com/3787410/86420381-0c7b8b80-bd09-11ea-993b-4accc9c8d16c.png)

[2020-07-18 03:57] Sagilio opened #52 "Change the workflow of creating a model"
1. I think we should move the `NewModel` API to Model class. It will follow the [go implement](https://github.com/casbin/casbin/blob/master/model/model.go).
It will be some break changes if we directly delete them, So we can set Obsolete at on them now and remove at the next mainline version.
2. Move the ModelPath field to Model class as a property.  It will we can get the model path when instanti

[2020-07-21 00:40] #49 closed

[2020-07-21 21:16] Sagilio opened #54 "Add benchmark project to monitor the performance change"
I think we can use the [BenchmarkDotNet](https://github.com/dotnet/BenchmarkDotNet), And the test case will include cases in [model_b_test.go](https://github.com/casbin/casbin/blob/master/model_b_test.go).

[2020-07-23 01:23] Sagilio opened #56 "Change the way of integrating RBAC API and Management API to a one Enforcer"
I think the best way to integrate IEnforcer (rbac api) and ManagementEnforcer (management api) to a one IEnforcer is use `Extension Method` to implement it. Here are some reasons:
1. IEnforcer can be a simple and clean interface.
2. We can maintain the RBAC and Management API at different class, and we can easy to add new helper type API.
4. Follow the CARP desgin.

It will become a break change,

[2020-07-23 08:29] hsluoyz commented on #56
Why does it have breaking change?

[2020-07-23 11:56] Sagilio commented on #56
Beacause the InternalEnforcer, ManagementEnforcer and CoreEnforcer class are public. If someone use them in the code, it will can not pass the compiling.

[2020-07-23 14:01] huazhikui commented on #56
Agree with you, I think that the `IManagementEnforcer`   don't need inherit `ICoreEnforcer`,  it only need to include `management api`.  through `Extension Method `  integrate `rbac api` and `management api`.  We can also add some decorator class to implement it.

[2020-07-25 02:24] hsluoyz commented on #52
@Sagilio yes, please follow the Go's Casbin way.

[2020-07-25 02:25] hsluoyz commented on #54
Good point, glad to see we will have benchmarks for C# too!

[2020-07-25 02:36] hsluoyz commented on #56
Good.

[2020-07-28 00:27] #54 closed

[2020-07-28 07:56] Sagilio opened #59 "All the permissions will be deleted when using empty fieldValue params to call RemoveFilteredPolicy"
Synced from Golang: https://github.com/casbin/casbin/pull/549

[2020-07-29 00:14] #59 closed

[2020-07-29 07:13] mitesh-diligencevault opened #61 "DynamicExpresso.Exceptions.UnknownIdentifierException: 'Unknown identifier 'keyMatch4' (at index 65)."
KeyMatch4 is not supported, can we pls add the support?

[2020-07-29 07:16] hsluoyz commented on #61
@huazhikui @xcaptain @Sagilio can you fix it?

[2020-07-29 18:30] Sagilio opened #63 "Remove Appveyor CI support"
We only need it to provide to the unit test coverage, We can try to use the new version [coveralls.net](https://github.com/csMACnz/coveralls.net) to provide the unit test coverage at Azure Pipeline and it will only depend on .NET Core 3.1 platform.

[2020-07-29 18:36] Sagilio opened #64 "Auto run benchmark on Github Actions"
We will be able to easily find the current optimization points and we can also compare performance with other languages implement.

[2020-07-30 01:12] #61 closed

[2020-07-30 02:10] hsluoyz commented on #61
@huazhikui please release a new version, so @mitesh-diligencevault can use!

[2020-07-30 03:03] huazhikui opened #65 "Auto publish package on Github Actions"
Auto publish package on Github Actions when we add new  version tag.

[publish](https://github.com/casbin/Casbin.NET/packages)

[2020-07-30 03:10] hsluoyz commented on #65
@Sagilio can you do this?

[2020-07-30 05:58] Sagilio commented on #65
I plan to use Azure DevOps's release pipeline to handle all release work, this work can be completed with the #37 issue.
The benchmark will run on Github Actions because I think we should use the same environment to compare with others.

Now, I do not have the edit permission in Azure DevOps.

[2020-07-30 07:53] mitesh-diligencevault commented on #61
@huazhikui when will this be available on Nuget to use?

[2020-07-30 12:38] #64 closed

[2020-07-30 12:58] huazhikui commented on #61
@mitesh-diligencevault `Casbin.net` v1.3.1 has been released on `nuget.org`

[2020-07-31 17:40] Sagilio commented on #65
We need not the Azure DevOps release pipeline now. we will handle all publish task with GitHub Actions.

[2020-08-01 00:12] #65 closed

[2020-08-01 00:34] hsluoyz commented on #65
@huazhikui @Sagilio why didn't I see any new automated release triggered by this PR?

[2020-08-01 00:35] hsluoyz commented on #37
Fixed by: https://github.com/casbin/Casbin.NET/issues/65

[2020-08-01 00:36] huazhikui commented on #65
because we haven't a new tag @hsluoyz

[2020-08-01 00:37] hsluoyz commented on #65
Can you make a new tag like `v1.3.2` to test it?

[2020-08-08 03:20] Sagilio opened #71 "Add watcher unit test"

[2020-08-08 13:45] #71 closed

[2020-08-12 00:27] #52 closed

[2020-08-12 22:09] harsimranb commented on #51
@Sagilio Can you share a little bit on how Casbin.AspNetCore will work?  How it will take advantage of Authorization libraries in Asp.Net Core?  I am quite intrigued about the integration you've mentioned.

[2020-08-13 02:17] hsluoyz commented on #51
@harsimranb please send issue to the repo: https://github.com/casbin-net/Casbin.AspNetCore

[2020-08-13 02:17] #51 closed

[2020-08-29 13:43] Sagilio opened #73 "Add batch APIs"

[2020-09-06 04:14] Sagilio opened #75 "Add Scaling ABAC (eval function) feature"

[2020-09-06 04:22] Sagilio opened #76 "Make model and policy thread-safe"
A new feature in #101.

#### **Description**
This is the multi-threading feature at https://casbin.org/docs/en/overview.
It will provide a `ReaderWriterLockSlim` and `Dictonary` implemention.

[2020-09-07 12:21] #73 closed

[2020-09-07 13:41] hsluoyz commented on #73
@Sagilio please update the feature table: https://casbin.org/docs/en/overview#feature-set-for-different-languages

[2020-09-07 14:01] Sagilio opened #78 "Support pattern feature at default role manager"

[2020-09-07 14:29] Sagilio opened #79 "Make assertion properties to read-only for public"
The `key`/`value`/`tokens` properties can be set internal write, I think the user should not change them without the model's APIs, and we can implement an `IReadOnlyAssertion` interface for the assertion that only read the properties. This change will be included in #124.

[2020-09-09 04:21] Sagilio opened #80 "Support auto notify watcher option"

[2020-09-09 05:49] Sagilio opened #82 "Support build Incremental role links"

[2020-09-09 14:52] Sagilio opened #83 "Support keyMatch3 function"

[2020-09-10 00:22] #75 closed

[2020-09-10 02:50] Sagilio opened #85 "IP match can not pass all test cases"
[code]
the result should be true but now is false.

[2020-09-10 03:22] #83 closed

[2020-09-10 03:44] #80 closed

[2020-09-10 15:01] Sagilio opened #87 "Improve performance of RBAC model"
RABC model has poorer performance than other models from the result of the benchmark. I will try to improve it.

[2020-09-11 02:59] #85 closed

[2020-09-11 05:01] Sagilio opened #88 "Support IPv6 on IPMatch function"

[2020-09-12 00:39] #88 closed

[2020-09-17 02:07] tzengshinfu opened #91 "Unknown identifier 'eval' problem"
Hi, folks:

I get the problem when using ABAC.
![Image 009](https://user-images.githubusercontent.com/2170033/93410786-3be37280-f8cc-11ea-9ca4-45d1d4abf80c.png)

the link below is my project that issue happened.
https://github.com/tzengshinfu/TestCasbinNet

[2020-09-17 08:21] hsluoyz commented on #91
@Sagilio can you take a look?

/cc @huazhikui @xcaptain @nodece

[2020-09-17 14:08] Sagilio commented on #91
@tzengshinfu  The feature has been included in the master branch, but we do not release it, you can try to build the code the test it or wait for the next release. We will release the new version soon.

[2020-09-17 14:28] Sagilio opened #92 "Improve performance and reduce the allocate when enforcing"

[2020-09-18 04:09] sagilio opened #94 "Support generic type at Enforce APIs"
A improvement of #101

#### **Description**

This will help to compile the expression. It has supported a part on [Pull Request #93](https://github.com/casbin/Casbin.NET/pull/93).

#### **Changes**

- Change the enforce method signature to a supported generic type.

We can support compile the expression better than now, here is some example:
[code]

[2020-09-18 10:09] hsluoyz commented on #91
@huazhikui @Sagilio please make a new release.

[2020-09-24 00:08] #87 closed

[2020-09-24 18:03] #92 closed

[2020-09-25 14:14] #63 closed

[2020-09-28 08:52] Sagilio opened #96 "Support async enforce method"

[2020-09-30 13:13] #96 closed

[2020-10-01 09:08] Sagilio opened #98 "Add .NET 5 target benchmark"

[2020-10-07 06:43] #98 closed

[2020-10-08 10:56] sagilio opened #101 "Casbin.NET v2.0.0 Proposal"
Now, Casbin.NET have almost all the main features, we should run to the next stage (v2.0.0), it will include more excited improve and features and many breaking and necessary changes. We will descript and track the detail and procession of the new version here.

Please note it now was a proposal and you can comment on your opinions and suggestions anytime.

## Features

- [x] 1. Thread-safe model

[2020-10-08 14:25] hsluoyz commented on #91
@tzengshinfu released v1.4.0: https://github.com/casbin/Casbin.NET/releases/tag/v1.4.0

[2020-10-08 14:25] #91 closed

[2020-10-15 04:49] send2vinnie opened #102 "The counterpart of GetImplicitUsersForPermission() in Casbin.NET is lacking"
The counterpart of GetImplicitUsersForPermission() in Casbin.NET is lacking in the API.

[2020-10-15 04:52] hsluoyz commented on #102
@huazhikui @Sagilio

[2020-10-15 15:41] Sagilio commented on #102
Thank your feedback，we will add this API later.

[2020-10-23 15:25] hsluoyz commented on #102
Any update?

[2020-10-24 08:45] Sagilio commented on #102
It will be fixed by #103.

[2020-10-24 15:45] #102 closed

[2020-11-10 04:08] Hareis opened #104 "use Casbin.NET is fail"
![image](https://user-images.githubusercontent.com/11290701/98626790-72c68980-234d-11eb-96dd-88fe050a91f4.png)

![image](https://user-images.githubusercontent.com/11290701/98626769-62aeaa00-234d-11eb-83e2-6cce634e1629.png)

i'm used 1.4.0

[2020-11-10 10:44] hsluoyz commented on #104
@huazhikui @Sagilio

[2020-11-10 16:15] Sagilio commented on #104
Thank your feedback, could you provide the sample model and policy files about this problem? I think It probably read an invalid model or policy.

[2020-11-11 11:32] hsluoyz commented on #104
@Hareis

[2020-11-12 01:36] Hareis commented on #104
``model``
[request_definition]
r = sub, obj, act

[policy_definition]
p = sub, obj, act

[role_definition]
g = _, _

[policy_effect]
e = some(where (p.eft == allow))

[matchers]
m = r.sub == p.sub && ParamsMatch(r.obj,p.obj) && r.act == p.act

``policy``
p，10001，/api/Authority/CreateAuthority，POST

[2020-11-12 01:57] hsluoyz commented on #104
@Sagilio

[2020-11-12 05:32] Sagilio commented on #104
@Hareis The `ParamsMatch` function is not a build-in function, you need to add it before calling Enforce.
Here is a little sample :
[code]
And add this function by:
[code]

We will provide more `AddFunction` overload in the future to make the function addition more convenient.

[2020-11-13 07:18] Hareis commented on #104
tks, i changed that model file, i's success!

[2020-11-14 16:18] #104 closed

[2020-11-17 13:07] elmankross opened #105 "Implements CasbinJsGetPermissionForUser"
[Original issue from casbin.js](https://github.com/casbin/casbin.js/issues/19)

~Idk it should be a derived library or a part of the existing one, but I think the first variant is better.~

Hello, .NET community, are there contributors can do this or it needs a PR? Thanks.

[2020-11-17 13:13] hsluoyz commented on #105
@Sagilio @kingiw

[2020-11-18 19:35] Sagilio commented on #105
I think we can add a new project named  `Casbin.Extension.Frontend` for this API, because it'll introduce a new dependency and is not that related to the main functionality of `Casbin.NET`. What do you think about it?

[2020-11-19 05:27] hsluoyz commented on #105
@Sagilio , sure. I have set you as the owners of https://github.com/casbin-net , please create this repo under the Casbin.NET org.

[2020-11-20 00:54] Sagilio commented on #105
Okay

[2020-11-24 21:38] paoloamato2 opened #106 "Casbin .NET doesn't support multiple evals"
I have tried many times, and i can surely say that if i use a policy like this:

[code]

No matter what, casbin considers only the first eval.
Can you fix this please?
I already read about this problem, maybe it was not fixed for .net?

I have 1.4.0 version downloaded from nuget.
Thanks in advance.

@hsluoyz

[2020-11-25 01:03] hsluoyz commented on #106
Can we fix it? @huazhikui @Sagilio

[2020-11-26 16:53] Sagilio commented on #106
Thank you for your feedback, we will fix this issue as soon as possible.

[2020-11-28 00:36] hsluoyz commented on #106
@paoloamato2 do you need a new release?

[2020-11-28 09:00] paoloamato2 commented on #106
it is not necessary for me
@hsluoyz

[2020-12-19 10:26] hsluoyz commented on #105
@elmankross hi, can you make a PR to: https://github.com/casbin-net/extensions ?

[2020-12-19 12:48] elmankross commented on #105
Hi. Of course. How I got it, it only needs to support .Net 3.1 and .Net 5, right?

[2020-12-19 13:10] hsluoyz commented on #105
@elmankross can we support .NET Framework 4.5 as well as Casbin.NET also supports it? https://github.com/casbin/Casbin.NET/issues/27#issuecomment-636603482

[2020-12-19 13:19] elmankross commented on #105
Np, I think there will no platform related things. So, a frontend library will use .netstandard1.0 too 👍

[2020-12-19 13:22] hsluoyz commented on #105
Great, thanks!

[2020-12-21 17:15] elmankross commented on #105
So, I understood right the [Extensions](https://github.com/casbin-net/extensions) repo is for extending ASP.NET projects with all related dependencies, such as Json and maybe something else?

[2020-12-21 18:55] elmankross commented on #105
Ok, I answer myself: It's no need to deal with ASP.NET dependencies and abstractions. There is a simple example of usage.

[2020-12-23 07:37] #105 closed

[2020-12-24 09:33] kbsiva opened #108 "Support different request type in one ABAC model"
Hi All, I am using below ABAC config and I have defined the below two rules in the database:

[code]

Rules In Databas:

[code]

[code]

Why it is taking Person as the default sub attribute and not taking the rule that is mentioned for productdetails? How to switch of casbin matches the subrule based on the roles policies defined in the table.?

[2021-01-06 15:47] mabvanaartrijk opened #109 "Return hitted policy from the Enforcer"
Thanks for this great library! I have a question concerning the Cabin.NET implementation. Is there any way to return the hitted policy in the Enforcer? In the Go implementation I see that LogEnforce is able to log the hit policy, but I don’t see this in Casbin.NET. Is this correct and is there a way to do this?

[2021-01-06 16:06] Sagilio commented on #109
Thank you, but this feature has not been implemented in the .NET version now, we will implement it in the next release.

[2021-01-10 22:11] Sagilio opened #110 "Determine filter adapter error when loading filter policy"
It will still throw an exception when the adapter is `IFilteredAdapter`.

[2021-01-12 11:25] #110 closed

[2021-01-12 12:22] jakobthordar opened #112 "GetImplicitPermissionsForUser needs a (string name, params string[] domain) override."
As the title says, the GetImplicitRolesForUser can take a domain as a second parameter.
GetImplicitPermissionsForUser does not. It defaults to using no domain when doing the policy mapping later down the line.

[2021-01-12 12:31] hsluoyz commented on #112
@Sagilio can you take a look at this issue?

[2021-01-13 10:48] Sagilio commented on #112
Ok.

[2021-01-13 14:54] jakobthordar opened #113 "Remove name as a first parameter to simplify code"
This is not exactly an "issue".
But this code could be simplified to only take in the function. AbstractFunction has a Name property which could be used in the code.

This makes it possible to also simplify IExpressionHandler.SetFunction by removing the name parameter. And instead using AbstractFunction.Name

https://github.com/casbin/Casbin.NET/blob/aa4fade2ac39b7315c8796c8937b4720c47bf797/NetCas

[2021-01-13 15:06] hsluoyz commented on #113
@jakobthordar this is for API compatibility with other language like Go: https://casbin.org/docs/en/management-api#addfunction

Some langs like Go use "function pointer" instead of a struct/class like AbstractFunction with a "name" property. So we have to specify the name explicitly.

[2021-01-14 18:42] Sagilio opened #114 "Add domain optional support at RBAC APIs"
A new feature in #101.

[2021-01-15 01:03] Sagilio commented on #112
@jakobthordar The lack of override APIs has been added at PR #115. It will be included in the next release.

[2021-01-23 12:25] #114 closed

[2021-01-24 05:20] #112 closed

[2021-01-24 06:01] hsluoyz commented on #112
@Sagilio you can make a new release on both Nuget.org and GitHub Releases.

[2021-01-24 09:48] Sagilio commented on #108
Because the same lambda will be cached for each different expression and the request type will be set depending on the first policy.
In fact, Enforce will match the policies in order. Therefore, even without caching, A similar exception will be thrown for different request types.
[code]
You can write two model and policy files for Person and ProductDetails types to solve this question temporarily

[2021-01-24 10:12] Sagilio opened #116 "Support logging feature"
A new feature in #101.

[2021-01-31 18:11] Sagilio opened #120 "Unique namespace specification"
A improvement in #101.

#### **Description**

Casbin has many extensions and it will more in the future, To avoid chaos we can provide a unique namespace specification suggestion.  It will like this :

##### **Core Abstractions => Casbin**

Sample:
- "IEnforcer" full type are `Casbin.IEnforcer`.
- "IModel" full type are `Casbin.IModel`

##### **Core => Casbin.[Part Name]**

Sample:
- "Assertion" f

[2021-02-01 01:17] hsluoyz commented on #120
sounds great to me!

[2021-02-03 00:58] #78 closed

[2021-02-06 22:49] Sagilio opened #124 "Extendibility structure Improve"
#### **Description**

Provide more interface and the default implement uses the unique `DefaultXXX` format to name.
It like `IEffector` to `DefaultEffector` and `IRoleManager` to `DefaultRoleManager`

#### **Changes**

- Add `IModel`, `IConfig`, `IEnforcer`.
- Change the default implement class name to `DefaultConfig`and `DefaultModel`.
- Replace parameters type and return type with the interface.

[2021-02-06 23:07] Sagilio opened #125 "Remove the dangling codes"

[2021-02-07 00:12] hsluoyz commented on #125
Fixed by: https://github.com/casbin/Casbin.NET/pull/126

[2021-02-07 00:12] #125 closed

[2021-02-07 00:21] hsluoyz commented on #79
Fixed by: https://github.com/casbin/Casbin.NET/pull/123

[2021-02-07 00:21] #79 closed

[2021-02-07 00:33] hsluoyz commented on #37
I don't think this issue is actually getting fixed. Just merged a PR: https://github.com/casbin/Casbin.NET/pull/123 but I didn't see a new release coming (like v1.4.0 -> v1.4.1)

@Sagilio need resolving.

[2021-02-07 10:06] #82 closed

[2021-02-07 14:02] hsluoyz commented on #108
@Sagilio can you see how Golang Casbin implemented this? I didn't remember that we have such a limitation. Anyway, I think this can be finally resolved by reflection at run-time.

[2021-02-07 14:06] Sagilio commented on #37
@hsluoyz  According to the current release strategy, the new version of the package will be released to multiple places according to its type.
Dev release: it will be released to the MyGet source by every commit, the last version is [here](https://www.myget.org/feed/casbin-net/package/nuget/Casbin.NET/1.4.0-build.69.master.cefb330).
Beta release: it will be released to the NuGet source as a prerel

[2021-02-07 14:14] hsluoyz commented on #37
@Sagilio good to know the current release workflow! Yeah, I think the current formal release frequency is too low and it would be better if we can use the Go-Casbin similar way: we will even release a new formal release for a bug fix PR merge, but we will embrace semantic-versioning to indicate the nature of the change. For example:

1. Big breaking change: `v1.2.3` --> `v2.0.0`
2. New feature: `v

[2021-02-07 14:29] Sagilio commented on #108
@hsluoyz The go casbin do not cache the expression (EvaluableExpression). So we can also fix this issue by disabling the expression cache when using the ABAC model.
The previous [comment](https://github.com/casbin/Casbin.NET/issues/108#issuecomment-766319910) means we can cache different request types of expressions to fix this issue, It has minimal impact on performance.

[2021-02-07 14:39] Sagilio commented on #37
@hsluoyz Ok, I will try to use a similar way of Go-Casbin.

[2021-02-07 14:43] hsluoyz commented on #108
@Sagilio

This way sounds good to me.

[2021-02-08 02:32] hsluoyz commented on #120
Fixed by: https://github.com/casbin/Casbin.NET/pull/121

[2021-02-08 02:32] #120 closed

[2021-02-10 06:14] hsluoyz opened #128 "Upload the logos for all packages on Nuget"
We can gradually fix the logos for all packages on Nuget: https://www.nuget.org/packages?q=casbin

![image](https://user-images.githubusercontent.com/3787410/107472633-41f32c00-6baa-11eb-9566-f8aa69472737.png)

See how to fix: https://github.com/casbin-net/EF-Adapter/issues/5#issuecomment-776027105

[2021-02-10 15:50] #109 closed

[2021-02-10 15:50] #116 closed

[2021-02-10 15:52] hsluoyz commented on #109
@mabvanaartrijk plz use `EnforceEx()`: https://github.com/casbin/Casbin.NET/pull/117

[2021-02-10 16:38] krishnaanaril commented on #101
@Sagilio How can I help?

[2021-02-10 20:28] Sagilio commented on #101
@krishnaanaril  Of course! Welcome to open issues or pull requests.

[2021-02-13 01:58] #37 closed

[2021-02-15 20:00] Sagilio commented on #113
@hsluoyz  Actually, it should not receive an AbstractFunction type.

[2021-02-16 15:33] #113 closed

[2021-02-19 13:06] Sagilio opened #132 "Rule Indexing feature"
Golang Casbin [#546](https://github.com/casbin/casbin/issues/546)

[2021-02-19 13:20] sagilio opened #133 "Parallel enforcing feature"
Golang Casbin [#516](https://github.com/casbin/casbin/issues/516) (Closed)

[2021-02-19 13:26] sagilio opened #134 "Multiple request, policy, effect, matcher type support"
A part of #101

related issues:
https://github.com/casbin/casbin/issues/835

[2021-02-28 16:01] #56 closed

[2021-03-02 02:18] hsluoyz commented on #124
Fixed by: https://github.com/casbin/Casbin.NET/pull/136

[2021-03-02 02:18] #124 closed

[2021-03-07 13:18] Sagilio opened #137 "Use interface return or pass arguments"
A improvement in #101

[2021-03-07 16:22] Sagilio opened #139 "Quick return of merging effects"

[2021-03-22 09:09] #139 closed

[2021-03-22 09:09] #137 closed

[2021-03-22 09:11] Sagilio opened #142 "Support caching feature"

[2021-03-22 10:00] hsluoyz commented on #139
Fixed by: https://github.com/casbin/Casbin.NET/pull/140

[2021-03-22 10:01] hsluoyz commented on #137
Fixed by: https://github.com/casbin/Casbin.NET/pull/138

[2021-03-22 23:44] pavolsimon opened #144 "Casbin.NET v1.5.1 - incorrect File/Product version?"
Hi all;

I am using Casbin.NET.Adapter.EFCore 1.5.2 with NetCasbin 1.5.1, but it is throwing exception:
_Could not load file or assembly 'NetCasbin, Version=1.5.0.0, Culture=neutral, PublicKeyToken=null'. The system cannot find the file specified._
NetCasbin 1.5.0 was working fine.

I believe it is related to assembly version, please, see below:
NetCasbin 1.5.0
File version 1.5.0.0
Product version

[2021-03-23 00:49] Sagilio commented on #144
It is a bug in the ci conf file, I will fix it later, thank you.

[2021-03-23 12:51] Sagilio commented on #144
@pavolsimon  Could you have a try to use the v1.5.2 version?

[2021-03-23 13:15] hsluoyz commented on #144
Fixed by: https://github.com/casbin/Casbin.NET/commit/19884d4a6020e0668e0df3e10a48219d089fb506

[2021-03-23 13:15] #144 closed

[2021-03-23 14:13] Sagilio opened #145 "Add cancellation token optional argument support."

[2021-03-24 12:35] pavolsimon commented on #144
@Sagilio Many thanks, now it is working as expected.

[2021-03-25 13:37] thoraj opened #146 "Get a list of domains for a user"
Is there a way to get a list/array of all domains where a user/subject has permissions.

If this is not possible, does it make sense to add such a thing?

[2021-03-25 14:09] hsluoyz commented on #146
@thoraj use `GetFilteredPolicy()` API: https://casbin.org/docs/en/management-api#getfilteredpolicy

[2021-03-25 14:09] #146 closed

[2021-03-25 15:11] thoraj commented on #146
AFAICT GetFilteredPolicy() will only give the policies where the user is explicitly. I can extract the unique domains from this list, but it does not solve my problem.

How can I get a list/array of all domains where a user/subject has permissions.

If a user has only been been granted a permissions indirectly because he has a role. There will be noe explicit policies which mentions the user (sinc

[2021-03-25 15:12] thoraj opened #147 "Getting a list of domains where a user has permissions"
AFAICT GetFilteredPolicy() will only give the policies where the user is explicitly. I can extract the unique domains from this list, but it does not solve my problem.

How can I get a list/array of all domains where a user/subject has permissions.

If a user has only been been granted a permissions indirectly because he has a role. There will be noe explicit policies which mentions the user (sinc

[2021-03-25 15:55] thoraj opened #148 "How to list roles and permissions across all domains?"
Many of the enforcer methods takes the domain as a parameter, and have a default value = null. E.g.

[code]

Although not explicitly documentet I would expect leaving the domain out would return all roles across all domains. But this is not what happens. If I do not specify the domain, I do not get any results at all. If I specify a domain I get the expected results.

Is this a bug or am I missing

[2021-03-25 16:05] hsluoyz commented on #148
@Sagilio

[2021-03-25 16:13] hsluoyz commented on #147
@Sagilio

[2021-03-29 08:07] Sagilio commented on #148
It will return the roles or users in the default domain if you do not provide the domain parameter.

[2021-03-29 08:17] thoraj commented on #148
OK. That explains what I am seeing.

So what is the recommendation for returning all domains for which a users has any permission. Right now AFAICT the alternatives are:

* Somehow maintain the necessary information outside Casbin
* Use a combination of the available Apis
  - Use GetGroupingPolicies() to find all distinct possible domains
  - Use GetRolesForUserInDomain() to check if the user has

[2021-03-29 10:47] hsluoyz commented on #148
@thoraj see: https://github.com/casbin/casbin/issues/744

[2021-03-29 21:14] thoraj commented on #148
👍

[2021-03-30 10:42] #142 closed

[2021-04-04 08:06] Sagilio opened #151 "Improve the unit test coverage"
Add missing unit tests from [golang casbin](https://github.com/casbin/casbin).

[2021-04-07 07:33] hsluoyz commented on #148
@Sagilio the Go Casbin has implemented this feature (https://github.com/casbin/casbin/pull/746). Please port it to Casbin.NET

[2021-04-07 15:20] thoraj opened #154 "Using builtin or custom functions in rbac hierarchies"
I'm experimenting with various models, and I would like to use KeyMatchX functions in the rbac  hierarchies.

I have a couple of questions:
1. How can I make a rbac hierarchy use builtin or custom functions?
1. How can I make different rbac hierarchies use different functions?

For 1. I have tried

Model
[code]

Tests
[code]
It does not seem that the MatchingFunction is called at all?  I have trie

[2021-04-07 16:13] hsluoyz commented on #154
@Sagilio

[2021-04-07 18:22] Sagilio commented on #154
Now, MatchingFunction and DomainMatchingFunc will call all hierarchies, because they will use the same role manager instance.

I will add two APIs for this issue,：
[code]

You can use them like this:
[code]

[2021-04-07 20:17] thoraj commented on #154
That sounds great. Looking forward to check this out 👍

But how can I test the current functionality? As mentioned I'm not able to use matchFunctions at all. With the current casbin.net, how do I tell the role manager to use builtin or custom function?

[2021-04-07 21:07] Sagilio commented on #154
You may need to call `e.BuildRoleLinks();` after the `e.SetRoleManager(rm);`.

[2021-04-08 05:43] Sagilio commented on #154
@thoraj You can have a try the v1.7.0 version.

[2021-04-08 05:46] thoraj commented on #154
@Sagilio Yes thanks, I am looking at it as we speak.  I will report back once I have finished 👍

[2021-04-08 06:24] thoraj commented on #154
@Sagilio I have tested with a really simple model, but I'm a little puzzled by the result. Probably it is because of my wrong reasoning?
Model
[code]

Policy:
[code]
Test:
[code]
I expect this test to pass since the matching func is a simple equality comparer.

So when I reversed the logic to an _inequality_ comparer `var gResult = !arg1.Equals(arg2);` I expected the test to fail. But it did not.

[2021-04-08 08:55] thoraj commented on #154
@Sagilio I noticed the issue has been closed. Is anyone tracking this issue?

[2021-04-08 09:43] hsluoyz commented on #154
@Sagilio plz follow up

[2021-04-08 14:19] Sagilio opened #156 "Error result returned in HasLink method"
See: https://github.com/casbin/casbin/issues/701

I have tested with a really simple model, but I'm a little puzzled by the result. Probably it is because of my wrong reasoning?
Model
[code]

Policy:
[code]
Test:
[code]
I expect this test to pass since the matching func is a simple equality comparer.

So when I reversed the logic to an _inequality_ comparer `var gResult = !arg1.Equals(arg2);` I ex

[2021-04-08 14:21] Sagilio commented on #154
See: #156

[2021-04-13 00:35] #154 closed

[2021-04-21 06:29] mabvanaartrijk opened #157 "Error creating multiple groups using AddDef()"
Hi! I've used the _RBAC with resource roles_ sample to test this. Creating the model from file works fine, but using the AddDef() methods Casbin gives the following exception:

_System.ArgumentException : Can not find the assertion at the section g and policyType g2._

[code]

[2021-04-21 07:12] hsluoyz commented on #157
@Sagilio

[2021-04-22 22:25] Sagilio opened #158 "Lack AddNamedGroupingPolicyAsync API"

[2021-04-22 22:37] Sagilio commented on #157
It may not a bug, you should replace `m.AddDef("g2", "g2", "_, _");` to `m.AddDef("g", "g2", "_, _");`.

This test has been added at #159 and named `TestMultipleGroupTypeModelInMemory`. And I add a comment at the `AddDef` API.

[2021-04-23 00:13] #157 closed

[2021-04-23 00:13] #158 closed

[2021-04-23 07:05] mabvanaartrijk commented on #157
All clear, thanks!

[2021-05-11 01:31] hsluoyz commented on #147
@Sagilio plz port it From Go to .NET: https://github.com/casbin/casbin/issues/744

[2021-05-11 08:51] Sagilio commented on #147
@hsluoyz Ok.

[2021-05-17 18:54] #156 closed

[2021-05-21 14:00] thoraj commented on #148
Any ETA on this feature GetDomainsForUser()?

It is one of the missing pieces before we can launch our first Casbin based solution.

[2021-05-21 19:32] Sagilio commented on #148
@thoraj This API is almost completed, now it is reviewing on PR #161.

[2021-05-22 17:07] #147 closed

[2021-05-23 02:01] hsluoyz commented on #148
Fixed by: https://github.com/casbin/Casbin.NET/pull/161

[2021-06-03 10:17] mentapro commented on #106
Now I am using Casbin.NET 1.8.0 and I have save problem that only one `eval` is recognised.
Can someone help me please, what is the problem?
Is this bug fixed or am I doing something wrong? @hsluoyz

[2021-06-03 11:34] Sagilio commented on #106
@mentapro This bug should have been fixed. Can you provide a test case with a sample model and policy files?

[2021-06-03 11:35] #76 closed

[2021-06-03 11:58] mentapro commented on #106
@Sagilio Yes, of course.
I use NUnit for testing. Also Casbin.NET 1.8.0 installed. .NET 5.0.
I have such **test method**:
[code]

Also, I have **model**:
[code]
And **policy.csv** file (1-line csv file):
[code]

But my test throws exception:
`
DynamicExpresso.Exceptions.UnknownIdentifierException : Unknown identifier 'eval' (at index 43).
   at DynamicExpresso.Parsing.Parser.ParseIdentifier()
`

[2021-06-04 21:39] sagilio opened #162 "Update or adapte to new version of DynamicExpresso"
https://github.com/davideicardi/DynamicExpresso/issues/144

There are some errors now.

[2021-06-07 11:28] #106 closed

[2021-06-21 19:51] sagilio opened #165 "Add EnforceWithMatcher and EnforceExWithMatcher APIs"

[2021-06-21 19:52] sagilio opened #166 "Add BatchEnforce API"

[2021-06-22 12:01] sagilio opened #167 "Add README to nuget packges"

[2021-06-22 12:12] sagilio opened #168 "Change lowest TFM form net45 to net452"

[2021-06-22 12:15] hsluoyz commented on #168
Why do this? This will drive away .NET 4.5 users.

[2021-06-22 13:28] sagilio commented on #168
@hsluoyz  It only updates .NET Framework 4.5 to .NET Framework 4.5.2.

Now Visual Studio 2022 can not install and build the 4.5 and 4.5.1 targets. I think we can consider updating this in the future.

In fact, .NET Framework 4.5 and 4.5.1 is ended the lifecycle very easily.
![image](https://user-images.githubusercontent.com/42855245/122930598-b337bc80-d39e-11eb-98d2-c915f55362a8.png)

[2021-06-22 15:08] hsluoyz commented on #168
@xcaptain @huazhikui what about your ideas?

[2021-06-22 17:23] sagilio opened #170 "Support .NET 6 target"

[2021-06-22 19:52] sagilio opened #173 "Add lazyLoadPolicy option on enforcer constructor"
Casbin.AptNetCore need this option.

[2021-06-22 20:38] sagilio opened #175 "Support lambda expression compile and delegate cache"

[2021-06-22 21:55] thoraj opened #176 "Database grows unexpectedly using EFCore adapter"
In our solution we're noticing that the Casbin table grows "unexpectedly". Before I start producing a simpler repro I thought I should check if my expectations make sense.

I would expect there not to be any duplicate rows in the table, and that the rows correspond to individual AddXXC calls. But when we're adding entries using either `enforcer.AddNamedPolicyAsync()`  or `enforcer.AddRoleForUserAs

[2021-06-23 00:49] hsluoyz commented on #176
@sagilio

[2021-06-23 05:14] sagilio commented on #176
It may be a bug, casbin should keep no duplicate rules in the model.
I will check about it and wait for the simpler repo.

[2021-06-23 12:44] thoraj commented on #176
While working on the repro I discovered what the issue is/was. I was calling enforcer.SavePolicyAsync() while AutoSave was enabled.

So the issue was really a couple of things:
1. Assumption that save SavePolicy() would make the database correspond to the rules in the enforcer. Instead it seems to simply create a new row for each rule in the enforcer, which leads to duplicates.
1. AutoSave is enab

[2021-06-23 19:40] sagilio opened #177 "Add policy and role manager benchmarks"

[2021-06-23 20:32] sagilio opened #178 "Merge simple and strongly related repo to Casbin.NET repo"
Here are some reasons:
- We will reduce a lot of cost on managing these many libraries.
- It will give a clear experience for users. A user only needs to install the same version of these libraries
- Multiple projects can better share tests and ci/cd workflow changes.
- We can ensure mutual compatibility.

The repo list:
- Casbin.Extensions: https://github.com/casbin-net/extensions

[2021-06-23 20:49] sagilio commented on #176
Thank you for the feedback.
- I think we should not add duplicates to model and storage (like `DB` or others), and we also need to ensure the idempotence of repeated operations.
- I plan to improve the `IAdapter` on `v2.x`, I hope it can use a more simple way to test whether the need to sync the policy and provide more flexibility on sync workflow. Do you have any suggestions?

[2021-06-24 05:54] thoraj commented on #176
Thanks @sagilio
IMHO I think getting duplicates on `enforcer.SavePolicy()` needs to be fixed. Otherwise the documented usage will always produce duplicates. I think the only scenario which will not produce duplicates is the case where the database is empty to start with.

So in the short term I think adding "de-duplication' on SavePolicy() is necessary and will make SavePolicy() behave closer to t

[2021-06-24 14:50] apiscevs opened #179 "Explicit priority model support"
That would be really great to have an Explicit priority model support in Casbin.Net.

That feature was introduced approximately 4 months ago in the original Casbin written on Go and looks like starts to be adopted in other language ports.

Two months ago it was added to jCasbin.
https://github.com/casbin/jcasbin/commit/36470f4d79e06b193ad5be5af70ba0ededc42b44#diff-f3cc874d67b29491c834d1608aa582eaf

[2021-06-24 16:10] sagilio commented on #179
Ok, I will work on this issue now！

[2021-06-24 17:11] #170 closed

[2021-06-28 22:47] #179 closed

[2021-06-28 22:52] #165 closed

[2021-06-28 23:12] sagilio opened #181 "Use property instead of expection to check support APIs in IAdapter"

[2021-06-28 23:13] sagilio opened #182 "Add UpdatePolicy and UpdatePolicies APIs"

[2021-06-28 23:13] sagilio opened #183 "Avoid to clear model when exception thrown in LoadPolicy in IAdapter"
https://github.com/casbin/casbin/issues/791

[2021-06-28 23:13] sagilio opened #184 "Improve policy synchronization workflow of IAdapter"

[2021-06-28 23:22] sagilio commented on #176
Look forward to your discoveries and welcome to comment at #184 anytime.

[2021-06-28 23:22] #176 closed

[2021-06-28 23:51] sagilio opened #185 "Add cancellationToken optional argument support"

[2021-06-30 00:35] sagilio opened #186 "Reduce duplicate code of Enforce APIs"

[2021-07-06 09:44] apiscevs opened #188 "Combine priority and deny-override models"
Hi Dev team,

you've recently added explicit priority model support in 1.9.0, many thanks for that.

Is there any chance to support two policy effects at once? For example **Priority** model with **deny override**.
Something like:

[code]

The value of support such a combined policy effect is that users can have multiple groups assigned with a different eff (allow, deny) and not be dependant on po

[2021-07-06 11:49] sagilio commented on #188
I think this feature can be supported.
I have not edit permission for the issue now. @hsluoyz @xcaptain

[2021-07-07 17:08] apiscevs commented on #188
Hello Sagilio,
maybe you have any insights on when presumably this might be added to the Casbin.Net toolbelt?
The thing is that we're starting a new project soon, and having this feature is one of the core requirements.

Thanks,
Alex

[2021-07-08 10:22] sagilio commented on #188
I have read your test case. I think you can try this model directly. @apiscevs
[code]

[2021-07-08 11:21] apiscevs commented on #188
Hi Sagilio,

unfortunately, that doesn't work.
Please see the example below:

[request_definition]
r = sub, obj, act

[policy_definition]
p = priority, sub, obj, act, eft

[role_definition]
g = _, _

[policy_effect]
e = !some(where (p.eft == deny))

[matchers]
m = g(r.sub, p.sub) && r.obj == p.obj && r.act == p.act

p, 5, data1_allow_group, data1, write, allow
p, 10, data1_deny_group, data1, write

[2021-07-08 11:44] sagilio commented on #188
Ok, I got what you mean.

[2021-07-10 13:16] sagilio commented on #188
I think the feature needs to auto-group policies firstly, so it will have some break changes. I think this feature is more suitable for integration on the preview branch of our v2.0, how do you think about this？
Here is a [migrate guide](https://github.com/casbin/Casbin.NET/wiki/Migrate-from-Casbin.NET-v1.x-to-v2.0).

[2021-07-12 08:38] apiscevs commented on #188
Hello @sagilio,
you mean this functionality can be already achieved using the "auto-group" feature in V2,0, or you plan to implement it in v2.0.
I've taken a look at v2.0 breaking changes list, doesn't look scary at all.

[2021-07-17 16:45] sagilio commented on #167
Some images are not displayed as they are not from trusted domains.
![image](https://user-images.githubusercontent.com/42855245/126043972-b2375ef3-3412-43dd-9931-4a2390bcaf5d.png)

[2021-07-17 16:52] #186 closed

[2021-07-17 16:52] #173 closed

[2021-07-17 21:54] #188 closed

[2021-07-18 03:39] hsluoyz opened #192 "Provide better support for authorization of a C# desktop application like files-community/Files"
See: https://github.com/files-community/Files/issues/5442

This is an opptunity to use Casbin.NET in a real-world C# desktop application. We need to provide all possible help to support their scenario.

[2021-07-18 14:42] sagilio opened #193 "Provide developer and contribution document"
1. Quick Start, Architecture Introduction, and Contribution Workflow for the contributor.
2. Casbin.NET has many extension endpoints and characteristic features, can meet rich users' needs, we should provide some articles to introduce these.

Relate issue: https://github.com/casbin/casbin/issues/393

[2021-07-21 03:20] sagilio opened #196 "Increase expression compile coverage"
Now, we only compile expressions and cache, when the request token count and policy token count is 3. I hope it can have a higher coverage.

It will only be for the v1.x version because we will cover up to 99% of cases at v2.x when using generic type enforce APIs.

related PR and issues:
#195 #94 #175

[2021-07-28 14:05] techarch opened #197 "Exception when using Enforce with a model and policy using the "in" special grammar"
I am having trouble using the "in" grammar extension mentioned in https://casbin.org/docs/en/syntax-for-models#special-grammer. I tried both in the Casbin editor and in a .NET program.
See [Example](https://casbin.org/casbin-editor/#4MZTYXUEE)
The validation passes but when I run it I get the following message: "value.trim is not a function" - I reported that issue to the Casbin editor team.

But

[2021-07-29 15:05] sagilio commented on #197
Casbin.NET now still does not support the `in` operator directly, but you can use c# grammar instead.

[2021-07-31 00:05] techarch commented on #197
@sagilio, what example of C# grammar would you recommend?

[2021-07-31 19:10] sagilio commented on #197
@techarch It like this:
[code]

I have changed `m` and add a new test, you can use this directly:
[Program.cs.txt](https://github.com/casbin/Casbin.NET/files/6911722/Program.cs.txt)

[2021-08-01 12:15] techarch commented on #197
Thank you @sagilio :-)! That worked great! 👍

[2021-08-02 08:55] sagilio opened #198 "Support "in" special grammar"

[2021-08-02 08:56] sagilio commented on #197
link to new feature issue request #198.

[2021-08-02 08:57] #197 closed

[2021-08-04 18:49] sagilio opened #199 "Implement priority explicit deny override model for v2"
related issue: #188

[2021-08-04 20:33] sagilio opened #200 "Compatible with IEffector of golang casbin"
In fact, Casbin.NET has a new interface IChainEffector to evaluate the final result. It can get explain policy trace and has lower average time complexity.

But, we still need to consider the compatibility with golang casbin.

It will like this:
[code]

[2021-08-04 20:44] sagilio opened #201 "Casbin.NET Promotion Plan"
Casbin.NET has been very complete, and the v2 version will be released soon. I think it is a good time to introduce Casbin.NET to more people.
Before Casbin.NET v2 is released, I need to consider the details of the plan. Any suggestions are welcome.

[2021-08-06 02:38] sagilio opened #202 "Result is not matched to the editor in golang program when using RBAC with domain and pattern"
I had tried in another two languages, nodejs and dotnet. The results are different either.

**dotnet code:**

[code]

**nodejs code:**

[code]

The problem might be due to the different handling or result for `GFunction`.

Nodejs will call [generateTempRoles](https://github.com/casbin/node-casbin/blob/master/src/rbac/defaultRoleManager.ts#L299) to generate temp roles for domain, while the other tw

[2021-08-06 03:32] hsluoyz commented on #202
@closetool @tangyang9464

[2021-08-07 18:15] #134 closed

[2021-08-08 19:37] #200 closed

[2021-08-08 20:47] sagilio opened #205 "Reading cache before reading model"

[2021-08-09 00:20] #199 closed

[2021-08-09 00:24] sagilio commented on #178
@hsluoyz @xcaptain What do you think about this issue?

[2021-08-16 12:29] sagilio commented on #185
duplicate issue #145

[2021-08-16 12:29] #185 closed

[2021-08-16 12:50] sagilio opened #210 "Use different chain effector instances every enforce"

[2021-08-18 12:48] #202 closed

[2021-08-18 17:41] sagilio opened #212 "Update to C# 10.0 version"

[2021-08-20 14:30] #175 closed

[2021-08-20 14:30] #196 closed

[2021-08-22 16:55] #212 closed

[2021-08-26 07:11] sagilio opened #214 "Reduce memory consumption due to temporary struct"
In Preview.2，One Enforce will create a context and session struct, the context store some read-only dates for enforcement, and the session store some writable.
I want to try to merged them into a EnforceContext struct

[2021-08-31 09:37] yaobo-lab opened #215 "Invalid policy size: expected 3, got 6."
i use  EFCore-Adapter

mysql table record is

![image](https://user-images.githubusercontent.com/21329253/131479462-356a221e-6a95-4361-9527-91809ba977c7.png)

acl_model.conf:
[code]

when is use
` _enforcer.EnforceAsync(uid, api, httpMethod);`

it throw a err:
`Invalid policy size: expected 3, got 6.`

[2021-08-31 09:55] sagilio commented on #215
The reason for this problem is that the length of the array of each policy in the model is not 3. Can you confirm the content of this object?
[code]

[2021-08-31 10:34] hsluoyz commented on #215
@yaobo-lab you should set values of V3, V4 and V5 to `null` in DB.

[2021-08-31 11:29] yaobo-lab commented on #215
thx a lot!

[2021-08-31 11:29] #215 closed

[2021-10-11 14:55] thoraj opened #216 "Trying to use multiple matcher"
I am having trouble trying to use multiple matchers in a model.

I have tried adding a second matcher to the model file, and I have also tried adding the second matcher in code.

[code]

The standard Enforce() call works OK, but the second throws and exception:

[code]

I have verified that the 'm' collection in the model in fact has two entries ('m' and 'm2').

Not sure what I'm doing wrong, or i

[2021-10-11 19:26] thoraj opened #217 "How to evaluate a single grouping policy."
I have the need to check if a value is part of a named grouping hierarchy.

Lets say I have:
[code]

What I would like to evaluate is:
[code]

Is there anything equivalent to `IsInGrouping()` in Casbin?

My initial thought was to use a second matcher.
[code]

And use:
[code]
The idea is that this will work since the value provided for p.res argument when evaluating m2 would always come from a "p"

[2021-10-13 07:35] sagilio commented on #216
@thoraj The first param of the `EnforceWithMatcher` method is the context of `matcher`, not the type.
[code]

[2021-10-13 07:42] sagilio commented on #217
You can try
[code]

Any type of r/p/m/e is only supported on the `v2.x/preview` branch, here is the sample:https://github.com/casbin/Casbin.NET/blob/b1f3b0bc7ba1f159ffe7d31542642080a191853a/NetCasbin.UnitTest/ModelTests/ModelTest.cs#L565-L605

[2021-10-15 13:10] thoraj commented on #217
Thanks for responding.

I was able to work around the issue, but will certainly try using the suggested ..enforce("matcher_exression")

[2021-10-19 07:12] #216 closed

[2021-10-27 10:57] thoraj opened #218 "Trouble removing policies."
I'm having trouble removing policies.

This section of our code throws:

[code]

The docs says something about consistent policies:

Could our issues be related to this?

What does it mean that `-- rules are consistent with the current policy`?

[2021-10-30 15:33] sagilio commented on #218
When deleting policies, it is necessary to ensure that each policy can be found in the model.

Can you post the value of `g2Policies` and all `g2` policies? The sample code should return success.

The method may return `false` at line 299 and 318

https://github.com/casbin/Casbin.NET/blob/41588124dec1f1d9e1d6c71b948e6b2e1794d4da/NetCasbin/InternalEnforcer.cs#L293-L330

[2021-11-11 02:17] Leonardo-Ferreira commented on #168
my 2 cents: very few people are still developing software targeting .net 4.5 to the point where you would be fixing bugs that they've encountered OR they would be adopting a new security-related library. In practical terms, changing from 4.5 to 4.5.2 impacts basically no one

[2021-11-11 02:19] Leonardo-Ferreira opened #220 "Monitor with sonar cloud?"
Sonarcloud is free for open source projects. Let's use it!

[2021-11-11 02:20] hsluoyz commented on #168
@Leonardo-Ferreira thanks for the explanation!

@Leonardo-Ferreira @sagilio can anyone of you make a PR to upgrade to .net 4.5.2 ?

[2021-11-11 05:43] hsluoyz commented on #220
@Leonardo-Ferreira hi, can you make a PR to integrate it?

[2021-11-11 12:15] hsluoyz commented on #168
@sagilio I saw this one: https://github.com/casbin/Casbin.NET/pull/169 , can you open it again?

[2021-11-11 12:24] sagilio commented on #168
ok

[2021-11-11 14:04] Leonardo-Ferreira commented on #220
@hsluoyz I could do the whole thing if you add me as member of the casbin org with rights to manage/add secrets... each repo would need its own build yml.

[2021-11-11 14:22] hsluoyz commented on #168
Hi @sagilio , I found I can open it :) Can you fix the conflicts at: https://github.com/casbin/Casbin.NET/pull/169#issuecomment-966256452 ?

[2021-11-11 14:25] Leonardo-Ferreira commented on #168
https://devblogs.microsoft.com/dotnet/net-framework-4-5-2-4-6-4-6-1-will-reach-end-of-support-on-april-26-2022/

radical idea: raise the bar on MAY 2022 to net 4.6.2. We could make a statement now, reenforcing it every N weeks... this would allow us to remove a lot of the the pragma directives because Microsoft.Extension.Logging v5.0.0 is supported on .net 4.6.1 and forward (https://www.nuget.org/

[2021-11-11 15:13] hsluoyz commented on #220
@Leonardo-Ferreira invited, and I also added the secret:

![image](https://user-images.githubusercontent.com/3787410/141321523-bb854f88-c41c-44d9-bc5e-4c449b7b11a1.png)

But I'm not quite sure about how to add the yml file correctly. The following info is what I got from the Sonarcloud site. Can you help make it work (by making a PR)?

Create or update your .github/workflows/build.yml

Here is a b

[2021-11-11 16:54] Leonardo-Ferreira commented on #220
![image](https://user-images.githubusercontent.com/5585339/141334748-3e507923-795b-47d5-8ab3-f28214eac73a.png)
missing a permission here

[2021-11-13 22:48] sagilio commented on #214
After trying, the performance of a single larger struct will be worse, so close this issue.

[2021-11-13 22:48] #214 closed

[2021-11-14 13:06] sagilio opened #222 "Support lambda expression compile and delegate cache to v2.x"
same to #175

[2021-11-16 08:26] thoraj commented on #218
Seems like line 318 is unreachable code since model.RemovePolicies() either throws or returns true. That leaves line 199.

Not exactly sure why this was biting me, but I worked around this by using `_enforcer.RemoveFilteredNamedGroupingPolicyAsync()`

[2021-11-16 08:26] #218 closed

[2021-11-16 15:02] hsluoyz commented on #220
Fixed by: https://github.com/casbin/Casbin.NET/pull/223

[2021-11-16 15:02] #220 closed

[2021-11-20 21:55] sagilio opened #224 "Make expression handler stateless"

[2021-11-21 12:25] #205 closed

[2021-11-21 12:25] #210 closed

[2021-11-21 12:26] #181 closed

[2021-11-21 18:59] sagilio opened #226 "Store generic type policy in memory"

[2021-11-21 19:01] sagilio opened #227 "Support add generic type coustom function"

[2021-11-21 19:04] sagilio opened #228 "Validate and compile matcher when loading model"

[2021-11-21 19:04] sagilio opened #229 "Proposal: Generic type's policy and request"
### **Context and purposes**
Casbin uses a string array to store all policies, so we have ensured the request is always a string. In some situations, we need additional operations to "parse" request values: https://github.com/casbin/casbin/issues/868.
However, this does bring some benefits, all as strings can greatly reduce the complexity of development. like we can provide a clear signature for t

[2021-11-22 22:51] dviry opened #231 "feat: Add globMatch to BuildInFunctions"
Using Casbin.NET v1.11.0 - getting the following error when trying to use globMatch() as a matcher:
[code]

In the past I've used [DotNet.Glob](https://github.com/dazinator/DotNet.Glob) - can we integrate it as a built-in function?

Thanks in advance

[2021-11-22 23:10] dviry commented on #231
PS: currently I'm adding it dynamically to the Enforcer instance:
[code]

[2021-11-23 00:25] hsluoyz commented on #231
@sagilio any comment?

@dviry can you make a PR?

[2021-11-24 01:02] #231 closed

[2022-01-18 15:59] slinders1985 opened #234 "Eval of custom function with multiple parameters: issue with LoadPolicyLine that splits on comma"
Our model:

[code]

The policies are loaded from our db using the EFCore-Adapter.
In one of the eval() we want to evaluate a custom function which takes in more than one parameter.  The V1 (sub) of the policy will refer to this custom function e.g. customFunction(r.sub, r.dom, "aString").

The custom function gets successfully added to the enforcer, but will never get to the point of execution bec

[2022-01-19 01:07] hsluoyz commented on #234
@sagilio @hackerchai

[2022-01-19 11:26] sagilio commented on #234
I will add the LoadPolicyArray to support this.  https://github.com/casbin/casbin/pull/887

[2022-01-19 13:24] pspeybro commented on #234
@sagilio, the tryLoadPolicy pull request that you linked, that should resolve the issue?

[2022-01-19 14:49] #234 closed

[2022-01-20 05:14] sagilio commented on #234
Just wait a moment. also need to update EFCore-Adapter

[2022-01-24 09:26] slinders1985 commented on #234
Thank you! Works like a charm :ok_hand:

[2022-01-27 05:01] fubar-coder opened #236 "Q: Casbin 1 vs 2"
TL/DR: Should I use Casbin 1 or 2?

The latest update for V2 happened in 2021-08, while the latest V2 update just happened a couple of days ago and this poses some questions:

- Is there a release plan for V2?
- Is V2 in its current state abandoned?
- Should I start with V1?
  - How difficult will the transition from V1 to V2 be?

[2022-01-27 05:55] fubar-coder opened #237 "Q: Feature parity casbin (go) vs Casbin.NET"
Are there (other) differences between the supported features of the go and .NET versions of casbin?

The first thing I've found is that the `subjectPriority` effect seems to be missing in the .NET version.

[2022-01-27 06:24] sagilio commented on #236
1. v2 has released most of the planned features, the last feature is still under development （https://github.com/casbin/Casbin.NET/pull/230)， we plan to release the RC branch next month.
2. No, V2 still working, it is necessary for future development and has a lot of necessary refactorings.
3. It not very plenty of public API changes from v1 to v2, here is a guide about it (https://github.com/casb

[2022-01-27 06:36] hsluoyz commented on #237
@fubar-coder see: https://casbin.org/docs/en/overview#feature-set-for-different-languages

But clearly it is missing `subjectPriority()` comparison, @sagilio @abichinger @Abingcbc can anyone add it?

[2022-01-27 06:40] sagilio commented on #237
Many features are implemented by the need cases of user issues, both the go or dotnet version can be used for most cases.
If you need an existing feature of go, we will sync it to dotnet quickly.
https://github.com/casbin/Casbin.NET/wiki/Keeping-in-sync-between-.NET-and-Go-version

[2022-01-27 09:35] fubar-coder commented on #236
Thank you for your answer!

[2022-01-27 09:35] #236 closed

[2022-01-27 09:38] fubar-coder commented on #237
It does indeed seem like I'd need `subjectPriority` from the [description in the documentation](https://casbin.org/docs/en/priority-model).

[2022-01-27 13:01] hsluoyz commented on #237
@fubar-coder can you open a new issue for it?

[2022-01-27 13:59] fubar-coder opened #238 "Feature Request: subjectPriority"
As described in the documentation: https://casbin.org/docs/en/priority-model

[2022-01-27 16:42] hsluoyz commented on #238
@sagilio

[2022-01-28 05:38] natilivni opened #239 "Casbin best practices"
Hello,

I want to implement casbin in my .NET application but have a few questions.

Is it best practice for the enforcer to be a singleton or to create a new one each time you need to authorize?

Is there a recommended adapter for Ms sql server?

Is there a recommended adapter for postgres?

As a follow up to #2 and #3, is it best practice for the adapter to be a singleton or to recreate it for e

[2022-01-28 05:46] hsluoyz commented on #239
@sagilio

[2022-01-31 10:35] shayura opened #240 "[Question] How to to call Enforce in Casbin.NET 2.0.0 preview?"
I can't find any examples in the UnitTest projects, so I'm not sure how to migrate `Enforce(Async)` calls from the previous version. I would like to use `EnforcerContext` to switch between `p` and `p2` rules.

[2022-01-31 10:46] shayura commented on #240
Please forgive me for the silly question. I have just found out about the extension methods `NetCasbin/Extensions/Enforcer/EnforcerExtension.cs`. I'll try using this newfound knowledge to call the enforcer to check `p2` rules.

[2022-01-31 11:46] #240 closed

[2022-02-01 21:00] Leonardo-Ferreira commented on #201
any news on this? still need help?

[2022-02-02 00:40] Leonardo-Ferreira commented on #101
So, how far along are we? where can I help?

[2022-02-02 01:03] Leonardo-Ferreira commented on #168
@sagilio @hsluoyz close this since it was achieved on another PR?

[2022-02-02 08:44] hsluoyz commented on #168
@Leonardo-Ferreira which PR?

[2022-02-02 08:45] hsluoyz commented on #101
@sagilio

[2022-02-02 08:46] hsluoyz commented on #201
@sagilio

[2022-02-03 22:40] sagilio commented on #201
@Leonardo-Ferreira Yes, I may not have much time to deal with the promotion plan recently.

[2022-02-04 02:01] hsluoyz commented on #201
@Leonardo-Ferreira do you have idea about how to proceed, can you help?

[2022-02-04 15:07] Leonardo-Ferreira commented on #201
I think that the best way to promote is build a very strong case alongside a relevant adopter. This way, we can approach others and have sort of a "hey look how we solved that mess over there"

[2022-02-04 18:55] sagilio commented on #239
1. [EF Core adapter](https://github.com/casbin-net/EFCore-Adapter) is currently maintained by Casbin community and will be updated most actively.
2. In Casbin v1.x, because the model is not thread-safe and it is necessary to create a new Enforcer and Model instance when a new HTTP request.
3. In Casbin v2.x, it is best to use a single SycedModel instance to create Enforcer. (https://github.com/cas

[2022-02-04 19:00] sagilio commented on #240
Maybe this is helpful to you: https://github.com/casbin/Casbin.NET/blob/e0af5c3bea91e9aa011eae85ff582ca7d0a2ca82/NetCasbin.UnitTest/ModelTests/ModelTest.cs#L564-L604

[2022-02-05 01:31] hsluoyz commented on #201
@Leonardo-Ferreira can you help on it?

[2022-02-05 23:09] sagilio commented on #101
Thanks! Most features have been merged, but we have some other work:
1. An known load policy bug (https://github.com/casbin/Casbin.NET/issues/183)
2. We need more multithread test cases for the new SyncModel.
3. Update the doc at https://github.com/casbin/casbin-website. Many APIs have been implemented at Casbin.NET, but have not updated the docs.

[2022-02-15 00:04] Leonardo-Ferreira commented on #239
Suggestion number 2 and 3 seems highly wasteful... I'd advocate that you should pool Enforcers. You can use a middleware to get a instance from the pool and return it at the end

[2022-02-18 13:30] shayura commented on #239
Wouldn't it be more space efficient to free memory up right after the enforcement call?

I suppose that using a filtering, database-backed policy adapter one could achieve decent performance by defining database indices over the policy domain or resource, although this doesn't seem to be the case in the current EFCore adapter implementation. Then again, without pooling one might end up with loadin

[2022-02-18 19:46] shayura opened #243 "Is Casbin.NET v2 incompatible with EFCore Adapter and AspNetCore?"
I'm using Casbin.NET v2 in order to take advantage of `EnforcerContext` (please see #240 for reference.) I've noticed that neither EFCore Adapter nor the AspNetCore extension work with this version of the tool because the assembly name change from `CasbinNet` to just `Casbin`.

This is the specific error the compiler is spewing out:

[code]

I'm still new to Microsoft's .NET stack and the C# langu

[2022-02-20 11:56] sagilio commented on #224
closed by #225

[2022-02-20 11:56] #224 closed

[2022-02-20 11:56] sagilio commented on #94
closed by #230

[2022-02-20 11:56] #94 closed

[2022-02-20 11:57] sagilio commented on #162
PR to upstream project: https://github.com/dynamicexpresso/DynamicExpresso/pull/229

[2022-02-20 11:58] sagilio commented on #222
closed by #225

[2022-02-20 11:58] #222 closed

[2022-02-20 11:59] sagilio commented on #168
closed by #169

[2022-02-20 11:59] #168 closed

[2022-02-20 12:02] sagilio commented on #108
closed by #230 , now we will use a different cache when request type is different

[2022-02-20 12:02] #108 closed

[2022-02-22 14:24] Leonardo-Ferreira commented on #239
don't fool yourself, YOU can't free memory. All you can do is signal that an instance call be collected. GC is the one that actually does the heavy lifting of memory management... also, if you're going to load n reload the same Enforcer all the time, why waste CPU instantiating e releasing it? GC is not cheap you know...

[2022-02-22 17:02] shayura commented on #239
You're completely right. I took the liberty of ignoring the semantics of memory management for the argument's sake and assumed that the garbage collector would _eventually_ do its job. I was already aware that C# is a memory managed language but didn't know it had no reference counting mechanism. Thanks for pointing that out.

After some additional pondering I tend to agree, at least in part, with

[2022-02-24 12:58] martinbolco opened #244 "InvalidOperationException: Collection was modified"
Hi All,

by looking at our logs we noticed repeating issues with collections being modified in couple of methods inside Casbin.NET library. See please the screenshots from the logs:

![image](https://user-images.githubusercontent.com/46045835/155527581-317bae79-e09c-4023-b273-b652b869539d.png)

![image](https://user-images.githubusercontent.com/46045835/155527766-0a9d9009-f71c-4600-90cd-5a0bb982e5

[2022-02-24 13:05] martinbolco opened #245 "System.InvalidOperationException: Operations that change non-concurrent collections must have exclusive access"
Hi All,

we are experiencing issues with concurrent update on the collections inside Casbin.NET library. See please the log:

![image](https://user-images.githubusercontent.com/46045835/155529322-6c63e4cc-fa32-40e5-8b77-59a356326d0c.png)

Can somebody please take a look?

Thank you,

Martin

[2022-02-25 08:58] sagilio commented on #244
The model at Casbin.NET v1 is not thread-safe default, please make sure synchronous call model instance.

You can try to use `SyncedEnforcer.Create()` to create an enforcer instance at Casbin.NET v2.

[2022-02-25 08:58] sagilio commented on #245
It is the same question as #244

[2022-02-25 09:29] sagilio commented on #243
The release of `Casbin.Adapter.EFCore` and `Casbin.AspNetCore` is only work for Casbin.NET v1.

I will release 2.x versions of them that are compatible with the Casbin.NET v2 this week.

[2022-02-25 13:34] #245 closed

[2022-02-25 13:36] martinbolco commented on #244
Thank you for the info. As I can see v2 is still in the preview. When do you plan to release standard version?

[2022-03-04 12:47] LuisPodestaGrip opened #246 "Handle paths with System.IO.Path"
The path variables in the Enforcer constructor handle everything as relative paths.

This change will help to use files from cloud storage or other sources that isn't in the project folder.

[2022-03-04 13:59] hsluoyz commented on #246
@sagilio

[2022-03-06 14:07] thoraj opened #247 "Bug in AddNamedDomainMatchingFunc() ?"
I have a need to use a custom key-matcher for my g grouping policy:

[code]

I noticed there is a way to set matching func for domain as shown in the test:
[code]

But cannot make this work as it seems to operate on the x.sub values and not x.dom values?

When digging into the source, it seems to not set the function properly? And I think maybe this is a bug (?).

https://github.com/casbin/Casbin.

[2022-03-06 16:37] hsluoyz commented on #247
@sagilio

[2022-03-08 09:15] thoraj commented on #247
I have forked the project and  "fixed" the bug i master. I have verified the fix by setting up a pipeline to build a nuget, and consumed the forked nuget in our solution.

I would strongly prefer to not have a private fork of Casbin in production, and would like to know how to get the fix into the released Casbin.Net package?

If this is not possible, could you say which branch/tag we should use i

[2022-03-08 12:23] hsluoyz commented on #247
@thoraj why not make a PR? Contributions are welcome!

[2022-03-11 14:59] sagilio commented on #246
I have written a simple test for this issue, lt may already support relative paths. Could you write a sample unit test for your case?
[code]
![image](https://user-images.githubusercontent.com/42855245/157892243-0293fe50-a422-43f8-9c26-d8734f091ad8.png)

[2022-03-11 15:14] #247 closed

[2022-03-19 09:52] sagilio opened #249 "Integrate InferSharp to Github Actions"
ref docs:
https://github.com/marketplace/actions/infersharp

[2022-03-31 08:10] sagilio opened #250 "Refactor default role manager"
ref:
https://github.com/casbin/casbin/pull/942
https://github.com/casbin/jcasbin/issues/261

[2022-04-23 12:16] sagilio opened #251 "Use semantic pull request in GitHub Action"
ref: https://github.com/casbin/casbin/issues/993

[2022-05-09 06:45] #251 closed

[2022-05-12 10:41] sagilio opened #254 "Call eval as a build function"
ref:
https://github.com/casbin/casbin/pull/1005

[2022-05-31 14:48] sagilio opened #255 "Implement KeyMatch5 build function"
ref:
https://github.com/casbin/casbin/issues/909

[2022-06-11 16:05] AsakusaRinne opened #258 "[BUG] Token misread when there is comment in model config file in preview version"
### The environment

In branch ```preview```, windows 11, .NET 6

### The description

In the preview branch, when adding comments to config files with "#", the tokens will be misread if the comment contains a comma.

For instance, we add a comment to the ```rbac_model.conf``` in the examples of unit tests, as shown below.

[code]

Then the token count of policy definitions will be 4, which is one

[2022-06-11 16:51] hsluoyz commented on #258
@sagilio

[2022-06-12 10:41] sagilio opened #260 "Make expression cache thread safe"

[2022-06-12 15:56] hsluoyz commented on #260
Fixed by: https://github.com/casbin/Casbin.NET/pull/261

[2022-06-12 15:56] #260 closed

[2022-06-18 17:08] AsakusaRinne opened #263 "[BUG] White space is included in policy effect in preview branch"
### The environment
In branch preview, windows 11, .NET 6

### The description
In the preview branch, the loaded policy effect includes white space, while the ```PermConstants.PolicyEffect``` does not.

For instance, we add some white spaces to the ```basic_model.conf``` in the examples of unit tests, as shown below.

[code]

Then the expression of policy effect cannot be matched, which throws an

[2022-06-19 02:18] hsluoyz commented on #263
@sagilio

[2022-06-19 02:19] hsluoyz commented on #263
@AsakusaRinne plz see the supported comment format in Golang, I'm not sure if this inline comment is supported or not.

[2022-06-19 02:20] hsluoyz commented on #263
@AsakusaRinne is this issue the same one as: https://github.com/casbin/Casbin.NET/issues/258 ? Why open two duplicated issues?

[2022-06-19 04:32] AsakusaRinne commented on #263
Not really, #258 is the lack of process of comment symbol, while this issue is raised because the expression includes white symbol. I agree that they are similar, I would like to solve it with #258 in the same PR if it's indeed an unexpected behavior.

[2022-06-19 09:13] sagilio opened #264 "Use exist well-established configurion parser"
the model file is a standard `ini` format, we can use the existing configuration interface to more easily to integrate to .NET.

ref:
https://www.nuget.org/packages/Microsoft.Extensions.Configuration.Ini
#263
#258

[2022-06-19 13:00] hsluoyz commented on #264
@sociometry

[2022-06-19 13:13] hsluoyz commented on #264
@sagilio will this std lib API align with our commenting style? https://casbin.org/docs/en/syntax-for-models#docsNav:~:text=A%20model%20CONF%20can%20contain%20comments.%20The%20comments%20start%20with%20%23%2C%20and%20%23%20will%20comment%20the%20rest%20of%20the%20line.

[2022-06-19 13:42] hsluoyz commented on #263
@AsakusaRinne I agree with you, and both are commenting style problems. For this issue my comment is already offered at: https://github.com/casbin/Casbin.NET/pull/262#issuecomment-1159721651 . They can be tackled in one PR.

[2022-06-19 13:57] sagilio commented on #264
@hsluoyz Yes, they have the same style.

[2022-06-19 14:17] sagilio commented on #182
@sociometry

[2022-06-24 16:04] hsluoyz commented on #243
@sagilio any update?

@sociometry

[2022-06-24 16:24] hsluoyz opened #268 "We should focus on the issues created by users first"
Hi @sagilio @sociometry @AsakusaRinne

I found most of the issues are created by our own members. This is not a bad thing, but it may result in that we play by ourselves and have ignored the real user requirements, like:

![image](https://user-images.githubusercontent.com/3787410/175576475-0b98bd2d-612f-4d86-9cce-46c2964e2041.png)

So can we focus on the issues created by users first?

[2022-06-25 05:40] AsakusaRinne commented on #183
Hey, I think the problem may not exist in preview branch.

When I add test with the following code

[code]

Though an exception was thrown, the test could past with no problem.

Could this indicate that this issue has been solved in preview branch?

[2022-07-16 11:57] sagilio commented on #239
@shayura @Leonardo-Ferreira  The policy is only cached in the model instance, the allocation of a new enforcer instance is cheap.
Singleton the model instance is a memory efficient approach and pooled the model instance is a performance efficient approach.
A note that the filtered adapter is read-only.

[2022-07-16 12:05] sagilio opened #269 "Store policy text in the policy values instance"
There are l lot of repeatedly converting the policy rule to text in the code path.  Since the policy is read-only, we can actually make it easy to singleton its text.

[2022-07-24 18:10] #269 closed

[2022-07-24 18:11] sagilio commented on #255
close by #256

[2022-07-24 18:11] #255 closed

[2022-07-30 21:46] sagilio commented on #268
In fact, we always work on these issues first, and all have been answered and resolved.

[2022-07-31 01:28] hsluoyz commented on #268
sounds great! Thanks for the answer!

[2022-07-31 01:28] #268 closed

[2022-08-01 14:56] #162 closed

[2022-08-05 08:32] AsakusaRinne commented on #183
Could you please help to see if the test above indicates the problem doesn't exist in the preview branch? @sagilio

[2022-09-09 23:19] sagilio opened #282 "Refactor section assertion and policy store"

[2022-09-10 03:29] hsluoyz commented on #282
Fixed by: https://github.com/casbin/Casbin.NET/pull/283

[2022-09-10 03:29] #282 closed

[2022-09-12 19:49] sagilio opened #286 "Improve the Casbin.NET docs at Casbin website"
docs: https://github.com/casbin/casbin-website-v2/tree/master/docs

Task list:
- [ ] Complement lacked code part.
- [ ] Introduce Casbin.NET v2 new features.
- [ ] Add `redis-adpter` and `redis-watcher`.
- [ ] Add Casbin.NET v2 benchmarks.

[2022-09-14 11:57] thoraj opened #288 "Using LoadFilteredPolicy loads all policies unfiltered"
We are using Casbin extensively in our system.

We're using Casbin.Net 1.12.2 and Casbin.NET.Adapter.EFCore 1.80

As the number of policies grows we are experiencing performance issues.

A while back we started filterering policies per tenant. So now we:

* Determine the tenant
* Create an EFCoreAdapter
* LoadFilteredPolicies  for tenant into adapter
* Create enforcer (new Enforcer(model, adapter)

[2022-09-14 12:14] hsluoyz commented on #288
@AsakusaRinne

/cc @sagilio

[2022-09-14 12:21] hsluoyz commented on #183
Fixed, see: https://github.com/casbin/Casbin.NET/pull/278#issuecomment-1246478923

[2022-09-14 12:21] #183 closed

[2022-09-19 03:38] hsluoyz opened #292 "Fix CI error"
https://github.com/casbin/Casbin.NET/actions/runs/3079717027/jobs/4976271164

![image](https://user-images.githubusercontent.com/3787410/190945904-939984f1-8f82-464c-9d3f-548b2598934d.png)

[2022-09-19 03:39] hsluoyz commented on #292
@AsakusaRinne after merging your PR: https://github.com/casbin/Casbin.NET/pull/284, caused this issue. Can you fix it?

/cc @sagilio

[2022-09-19 04:37] AsakusaRinne commented on #292
It's not an error caused by the added unit test code of #284. It's in fact because of the new feature of C# 11 ([see this doc](https://learn.microsoft.com/en-us/dotnet/csharp/whats-new/breaking-changes/compiler%20breaking%20changes%20-%20dotnet%207#instance-method-on-ref-struct-may-capture-unscoped-ref-parameters)), and the latest .NET 7.0 RC takes it.

The PR #289 which was merged into preview br

[2022-09-19 07:03] hsluoyz commented on #292
@sagilio we should release new version soon

[2022-09-19 12:49] hsluoyz commented on #292
Fixed

[2022-09-19 12:49] #292 closed

[2022-09-20 08:49] hsluoyz opened #296 "Fix CI error: Operations that change non-concurrent collections must have exclusive access. A concurrent update was performed on this collection and corrupted its state"
See: https://github.com/casbin/Casbin.NET/actions/runs/3087920959/jobs/4993888459

![image](https://user-images.githubusercontent.com/3787410/191213003-573b0574-b529-4125-ac19-a630304d8f21.png)

[2022-09-20 08:49] hsluoyz commented on #296
@AsakusaRinne

/cc @sagilio

[2022-09-20 10:29] AsakusaRinne commented on #296
It was also mentioned [here](https://github.com/casbin/Casbin.NET/pull/285#issuecomment-1244854679) that the non-concurrent dictionary of cache of the new version raises exception when using ```ParallelBatchEnforce```. I'll try to fix it.

[2022-09-20 10:42] AsakusaRinne commented on #198
#289 provides a solution for this issue.

[2022-09-26 13:24] abelfiore opened #298 "IReadonlyAdapter not getting set in preview?"
I've been playing with the latest preview version of Casbin.NET, and when I construct an Enforcer like this:

new Enforcer("model.config", myTestAdapter);

where myTestAdapter implements the IReadOnlyAdapter interface, I notice that the Adapter in the Enforcer instance is always set to null.

[2022-09-26 14:40] AsakusaRinne commented on #298
Hey, I could see the ```Enforcer.Adapter``` being set when I tried it. Maybe the ```myTestAdapter``` was not initialized, I guess?

[2022-09-26 14:42] abelfiore commented on #298
No I passed in an instance of the adapter. Hmmm...

[2022-09-26 14:48] AsakusaRinne commented on #298
I'm using [the preview branch of Casbin.NET](https://github.com/casbin/Casbin.NET/tree/preview). Could you plz provide the release version you used?

[2022-09-26 14:50] abelfiore commented on #298
https://github.com/casbin/Casbin.NET/releases/tag/v2.0.0-preview.4

[2022-09-26 15:04] AsakusaRinne commented on #298
I tried it with ```v2.0.0-preview.4``` just now with ```FileAdapter``` and got the same result. Would you mind show your code here, or  try with ```FileAdapter``` first to narrow the range of the problem? In the constructor of ```Enforcer```, it simply executes ```this.Adapter = adapter;``` when the given adapter is not null.

[2022-09-26 15:08] abelfiore commented on #298
FileAdapter worked for me too.

Here is what my TestAdapter looks like:

`    public class TestAdapter : Casbin.Persist.IReadOnlyAdapter
    {
        public void LoadPolicy(IPolicyStore model)
        {
            model.LoadAuthPolicy(CreateTestAuthPolicy());
        }

        public Task LoadPolicyAsync(IPolicyStore model)
        {
            model.LoadAuthPolicy(CreateTestAuthPolicy());

[2022-09-26 15:29] abelfiore commented on #298
Also worth noting maybe this class needs to change? Maybe LoadPolicy and LoadPolicyAsync should use an IReadOnlyAdapter instead?

[code]

[2022-09-26 16:20] AsakusaRinne commented on #298
Yes, I got the same result on ```v2.0.0-preview.4``` with you. It's quite strange because in the code below, the ```enforcer.Adapter``` does not change after executing ```enforcer.Adapter = adapter```.

[code]

What's more, with the latest version (the current preview branch), I could get the correct result without changing ```IReadOnlyAdapter``` to ```IEpochAdapter```. Hmmm... It confused me, too

[2022-09-26 16:22] abelfiore commented on #298
Sounds like (a) I'm not crazy, and (b) we might need a new preview branch soon? :)

Also, any idea when 2.x get officially released? Enquiring minds want to know...

[2022-09-26 16:48] AsakusaRinne commented on #298
Haha, it's a question which belongs to @sagilio. I guess it's not far.

[2022-09-27 11:37] hsluoyz commented on #298
@sagilio

[2022-10-01 23:04] sagilio commented on #296
close by #297

[2022-10-01 23:04] #296 closed

[2022-10-01 23:09] sagilio commented on #288
We plan to add the new option `AutoLoadPolicy`(#295) to control this behavior, the changes will also try implemented in the v1 version.

[2022-10-06 07:51] mabvanaartrijk opened #300 ".NET 6 support"
Hi, we experienced some not before seen stack overflow exceptions in Casbin 1.12.2. Returning back to v1.10.1 everything is working fine. I noticed that target framework net6.0 was removed from the project, in the 1.10.1 > 1.12.2 diff. Maybe this causes the exception. Was there any reason to remove net6.0 from the target frameworks?

[2022-10-06 09:38] hsluoyz commented on #300
@sagilio @AsakusaRinne

[2022-10-06 15:57] sagilio commented on #300
Thank you, it may be a mistake, we will fix it in the next version.

[2022-10-07 07:28] herkit opened #301 "InvalidOperationException when Enforcing"
We've created a rbac as a service api that registers the enforcer and model as a singleton in our DI container. The policy model is populated incrementally by a worker service that is triggering on changes in our backend database, we're not using an Adapter or a Watcher to populate model. Our issue seems to occur intermittently. We'll suddenly start getting InvalidOperationExceptions on Enforce.

[2022-10-07 08:07] AsakusaRinne commented on #301
Thank you for telling us this issue. I agree with you that it's caused by not using concurrent dictionary in `GFunctionCache`. We also noticed it two weeks ago and fixed it in #297 . However, this fix is not included in `2.0.0.-preview.4`. If you don't mind using an unstable release, I think it can be fixed with the version `2.0.0-preview.4-build.332.preview.a6c464e` by specifying the following co

[2022-10-07 11:09] herkit commented on #301
@AsakusaRinne Thank you, I will try this, however it seems SyncedEnforcer is left out of this package, is the default Enforcer thread safe?

[2022-10-07 12:03] AsakusaRinne commented on #301
Yes, there are some break changes in this package, including making `DefaultEnforcer` thread safe.

[2022-11-01 04:22] Aya0wind opened #302 "ParseException when pass a `RequestValue` to `Enforce` method"
I need to pass request attribute as a dynamic length array, so I'm trying to use a list of string to construct a RequestValue, and pass it as the second parameter of this method.
 ```public bool Enforce<TRequest>(EnforceContext context, TRequest requestValues) where TRequest : IRequestValues;```
and it throws a ```ParseException``` with reason: **No property or field 'Value1' exists in type 'Reque

[2022-11-01 04:32] AsakusaRinne commented on #302
Could you please provide the version you used?

[2022-11-01 05:06] Aya0wind commented on #302
2.0.0-preview.4

[2022-11-01 05:35] AsakusaRinne commented on #302
Yes, in `2.0.0-preview.4` please use `Request.Create("alice", "data", "read")`.

I confess it may be confusing due to some early designs. The code above returns the type `Request<string, string, string>`, while the other way you used has a return type of `RequestValues`. This difference will raise the error when enforcing.

Thank you for telling us and we'll optimize it in the next release.

[2022-11-01 05:41] AsakusaRinne commented on #302
@sagilio I noticed that the constructor of `RequestValues` may not need to be exposed to users (no such using in current unit test code). Shall we further hide the default constructor as internal?

[2022-11-01 06:19] Aya0wind commented on #302
Ok, Thanks for your help. By the way, if i really want to pass an array of object as a request, is there a best practice?
In 2.00-preview.1, this code can run correctly, because ```Enforce``` has a overloaded version which is
```bool Enforce(params object[] requestValues);```
[code]
But in 2.00-preview.4, this method is disappeared, if i still use this code, it will call this unexpected
```public

[2022-11-01 07:21] AsakusaRinne commented on #302
I'm afraid not. I did not take part in the development of `2.00-preview.1` but I believe it removed such API later on account of performance. @sagilio What about adding an API like `bool Enforce<T>(params T[] requestValues)`?

[2022-11-03 17:31] sagilio commented on #302
The reason for the remove `bool Enforce(params object[] requestValues);` is because of the problem of calling priority. It may helpful to add the generic list API.

[2022-11-04 07:24] hsluoyz commented on #302
Fixed by: https://github.com/casbin/Casbin.NET/pull/303

[2022-11-04 07:24] #302 closed

[2022-11-04 09:31] hsluoyz opened #304 "Fix CI error"
https://github.com/casbin/Casbin.NET/actions/runs/3391970065

![image](https://user-images.githubusercontent.com/3787410/199939775-d8878f01-17e2-4cfa-bf06-3c79fa79962e.png)

[2022-11-04 09:31] hsluoyz commented on #304
@sagilio

[2022-11-04 09:35] sagilio commented on #304
Compatibility problem of .NET 7 RC2, I will fix it later.

![image](https://user-images.githubusercontent.com/42855245/199940145-028abbe2-3407-48ec-ab6e-3cf205d0d6df.png)

[2022-11-23 12:24] sagilio commented on #304
Fixed now
![image](https://user-images.githubusercontent.com/42855245/203546167-71cb9b39-4fca-4c41-aa02-8c5ef1241dc5.png)

[2022-11-23 12:24] #304 closed

[2022-11-24 04:05] sagilio commented on #300
This has been fixed at v1.13.0 version.

[2022-11-24 04:33] hsluoyz commented on #300
@mabvanaartrijk plz try it

[2022-11-24 04:33] #300 closed

[2022-11-24 14:57] mabvanaartrijk commented on #300
Fixed, thanks!